<%= form_item_layout do %>
  <%= form_label_layout do %>
    <%= field.f.label field.form_key, field.label %>
    <%= content_tag :span, "*", class: "required" if field.required? %>
  <% end %>
  <%= form_value_layout do %>
    <% javascript 'jquery-plugins/jquery.chained' %>
    <% name = (field.f.collection_select field.category_ids_name, field.levels.first, :id, :name, {}).split("name=\"").last.split("\"").first + "[]" %>
    <% field.levels.each_with_index do |level, i| %>
      <p>
        <select id="category_tree_<%= field.conf.id %>_<%= i %>" name="<%= name %>">
          <option value="">Seçiniz</option>
          <% level.each do |category| %>
            <option value="<%= category.id %>"
                    class="<%= category.parent_id unless i == 0 %>"
                    <%= "selected" if field.value.include? category %>>
              <%= category.name %>
            </option>
          <% end %>
        </select>
      </p>

    <% end %>
    <%= field.help_text %>
    <%= javascript_tag do %>
      <% (field.levels.count - 1).times do |i| %>
        $("#category_tree_<%= field.conf.id %>_<%= i+1 %>").chained("#category_tree_<%= field.conf.id %>_<%= i %>");
      <% end %>
    <% end %>
    
  <% end %>
<% end %>