<span class="filter">
  <span class="filter-header clearfix">
    <%= f.label :name %>
    <%= f.text_field :name, :size => "17" %>
    <%= f.check_box :_destroy, :class => "styled-checkbox" %>
    <%= f.label :_destroy, "Remove" %>
    <span class="add-line-item">Add line item</span>
  </span>
  <div class="line-items">
    <%= f.fields_for :selections do |builder|   %>
      <div class="clearfix">
        <%= render 'selection_fields', :f => builder %>
      </div>
    <% end %>
  </div>
</span>    