<span class="filter fields">
  <span class="filter-header clearfix">
    <%= f.label :name %>
    <%= f.text_field :name, :size => "17" %>
    <%= f.check_box :_destroy, :class => "styled-checkbox" %>
    <%= f.label :_destroy, "Remove" %>
    <span class="add-line-item">Add line item</span>
  </span>
  <div class="line-items">
    <%= f.fields_for :selections do |builder|   %>
      <%= render 'selection_fields', :f => builder %>
    <% end %>
  <span><%= link_to_add_fields "Add Selection", f, :selections %></span>
  </div>

</span>    