<div class="page-form">
<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item title-field clearfix">
    <%= f.label :title, :class => "main-label" %>
    <span class="long-field">
      <%= f.text_field :title %>
    </span>
  </div>

  <div class="form-item textarea-field clearfix">
    <%= f.label :description, :class => "main-label" %>
    <span class="long-field">
      <%= f.text_area :description, :rows => "5" %>
    </span>
  </div>

  <div class="form-item clearfix" id="filters">
    <%= label_tag nil, "Add filter", :class => "main-label" %>
    <span class="long-field clearfix">
      <% @service.filters.each do |filter| %>
        <%= f.fields_for :filters, filter do |filter_form|   %>
          <span class="filter">
            <span class="filter-header clearfix">
              <%= filter_form.label :name %>
              <%= filter_form.text_field :name, :size => "17" %>
              <%= filter_form.check_box :_destroy, :class => "styled-checkbox" %>
              <%= filter_form.label :_destroy %>
              <span class="add-line-item">Add line item</span>
            </span>
            <div class="line-items">
              Add line items
            </div>
          </span>    
        <% end %>
      <% end %>
    </span>
  </div>


  <div id="submit">
    <%= f.submit "Submit", :style => "margin-left: 190px" %>
  </div>
<% end %>
</div>