<div class="page-form">
<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item title-field clearfix">
    <%= f.label :title, :class => "main-label" %>
    <span class="long-field">
      <%= f.text_field :title %>
    </span>
  </div>

  <div class="form-item textarea-field clearfix">
    <%= f.label :description, :class => "main-label" %>
    <span class="long-field">
      <%= f.text_area :description, :rows => "5" %>
    </span>
  </div>

  <div class="form-item clearfix" id="filters">
    <%= label_tag nil, "Add filter", :class => "main-label" %>
    <span class="long-field clearfix fields">
      <%= f.fields_for :filters do |builder| %>
        <%= render "filter_fields", :f => builder %>
      <% end %>
    </span>
  </div>


  <div id="submit">
    <%= f.submit "Submit", :style => "margin-left: 190px" %>
  </div>
<% end %>
</div>