<div class="page-form">
<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item title-field row ">
    <%= f.label :title, t('global.title'), :class => "span3" %>
    <span class="span8">
      <%= f.text_field :title, :class => "span8" %>
    </span>
  </div>

  <div class="form-item textarea-field row">
    <%= f.label :description, t('global.description'), :class => "span3" %>
    <span class="span8">
      <%= f.text_area :description, :rows => "5", :class => "span8" %>
    </span>
  </div>

  <div class="form-item row" id="filters">
    <%= label_tag nil, t('services.new.add_filter'), :class => "span3" %>
    <span class="fields span8">
      <%= f.fields_for :filters do |builder| %>
        <%= render "filter_fields", :f => builder %>
      <% end %>
    </span>
  </div>

  <%= f.fields_for :service_price do |builder| %>
    <%= render "price_fields", :f => builder %>
  <% end %>
  
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
</div>