<div class="row">
  <div class="span5">
    <p><%= t('search.description', :search => params[:search] ) %></p>
    <p><%= t('search.suggestions') %>:</p>
    <ul>
      <li><%= t('search.s1') %></li>
      <li><%= t('search.s2') %></li>
      <li><%= t('search.s3') %></li>
    </ul>
  </div>

  <div class="span4">
    <div class="alert alert-block alert-info" style="margin-top:-40px; margin-bottom: 0;">
      <h4><%= t('search.notice_me') %></h4>
      <p><%= t('search.notice_desc') %></p>
      <div class="alert-actions">
          <%= form_for(Idea.new(:search_string => params[:search]), remote: :true) do |f| %>
            <% if @idea.present? and @idea.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

              <ul>
              <% @idea.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
            <% end %>

            <% unless account_signed_in? %>
              <div class="form-item text_field">
                <%= f.label :email, t('global.email') %>
                <%= f.text_field :email, :class => "span3" %>
              </div>
            <% end %>

            <div class="form-item text_area">
              <%= f.label :suggestion, t('search.suggestion') %>
              <%= f.text_area :suggestion, :rows => 4, :class => "span3" %>
            </div>

            <%= f.submit t('search.submit'), :class => "btn" %>
          <% end %>
      </div>
    </div>
  </div>
</div>