<div class="form-item number-field row">
  <%= f.label :sender_credit, t('services.sender_credit'), :class => "span2" %>
  <span class="span6 fields">
    <%= f.number_field :sender_credit %>
    <i><%= t('services.credit_subscription') %></i>
  </span>
  
</div>

<div class="form-item number-field row">
  <%= f.label :receiver_credit, t('services.receiver_credit'), :class => "span2" %>
  <span class="fields span6">
    <%= f.number_field :receiver_credit %>
    <i><%= t('services.credit_notification') %></i>
  </span>
</div>