<table class="statics-table">
  <tr>
    <td>
      <div class="count">
        <span><%= subscription_count = @service.subscriptions.count %></span>
      </div>
      <div class="desc">
        <span><%= subscription_count == 1 ? t('.one_subscriber') : t('.many_subscribers') %></span>
      </div>
    </td>

    <td>
      <div class="count">
        <span><%= @service.notifications.where("notifications.created_at > ?", 1.month.ago).count %></span>
      </div>
      <div class="desc">
        <span><%= t('.send') %></span>
      </div>
    </td>

    <td>
      <% if account_signed_in? %>
        <% if current_account.subscribing?(@service) %>
          <span class="subscribe btn btn-success"><i class="icon-cog icon-white"></i> <%= t(".settings") %></span>
        <% else %>
        <span class="subscribe btn"><i class="icon-user"></i> <%= t("global.subscribe") %></span>
        <% end %>  
      <% else %>
        <span class="subscribe btn"><i class="icon-user"></i> <%= t("global.subscribe") %></span>
      <% end %>
    </td>

    <td>
      <% if account_signed_in? %>
        <a href="<%= new_service_notification_path(@service) %>" class="btn">
          <i class="icon-share"></i> <%= t('notifications.new.new_notification') %>
        </a>
      <% else %>
        <a class="btn" data-toggle="modal" href="#signin-modal"><i class="icon-share"></i> New Notification</a>
      <% end %>
    </td>
  </tr>
</table>