<table class="statics-table">
  <tr>
    <td>
      <div class="count">
        <span><%= @service.subscriptions.count %></span>
      </div>
      <div class="desc">
        <span>takipçi</span>
      </div>
    </td>

    <td>
      <div class="count">
        <span><%= @service.notifications.where("created_at > ?", 1.month.ago).count %></span>
      </div>
      <div class="desc">
        <span>son bir ayda gönderim</span>
      </div>
    </td>

    <td>
      <% if account_signed_in? %>
        <% if current_account.subscribing?(@service) %>
          <%= content_tag :span, "Subscribe Settings", :class => "subscribe btn large success" %>
        <% else %>
          <%= content_tag :span, "Subscribe Settings", :class => "subscribe btn large default" %>
        <% end %>  
      <% else %>
        <%= content_tag :span, "Subscribe", :class => "subscribe btn large default" %>
      <% end %>
    </td>

    <td>
      <% if account_signed_in? %>
        <a href="<%= new_service_notification_path(@service) %>" class="btn large">
          New Notification
        </a>
      <% else %>
        <button class="btn large" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true">New Notification</button>
      <% end %>
    </td>
  </tr>
</table>