<%= form_for(@subscription) do |f| %>
  <%= hidden_field_tag "subscription[service_id]", @service.id %>

  <% for filter in @service.filters %>
    <div class="filter fields row" id="filter_<%= filter.id %>">
      <label class="span2"><%= filter.name %></label>
      <div class="span5">
        <%= collection_select :subscription, :selection_ids, filter.selections.order("position"), :id, :label, {}, {:multiple => true, :id => "subscription_selection_ids_#{filter.id}" } %>
      </div>
    </div>
  <% end %>

  <div class="alert-actions row">
    <div class="span5 offset2">
      <% if account_signed_in? %>
        <% if @subscription.new_record? %>
          <%= f.submit t("global.subscribe"), :class => "btn span2" %>
        <% else %>
          <%= f.submit t("global.update"), :class => "btn btn-success span2" %>
        <% end %>
      <% else %>
        <a class="btn disabled" data-toggle="modal" href="#signin-modal"><%= t('subscriptions.service.signin') %></a>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
$(function() {
  $(".filter select").multiselect({
    noneSelectedText: '<%= t('subscriptions.minimum_select') %>',
    selectedList: 2,
    minWidth: 350,
  }).multiselectfilter();

  $("#subscription_email, #subscription_sms").button();

  $(".subscribe").click(function() {
    $("#service-subscription").toggle();
    $(this).toggleClass("active");
  });
});
</script>