<div id="service-subscription" class="alert-message block-message warning in" style="display: none;">
  <% if account_signed_in? %>
    <%= form_for(@subscription) do |f| %>

      <%= hidden_field_tag "subscription[service_id]", @service.id %>

      <% for filter in @service.filters %>
        <div class="filter fields row">
          <label class="span2"><%= filter.name %></label>
          <div class="span5">
            <%= collection_select :subscription, :selection_ids, filter.selections.order("position"), :id, :label, {}, {:multiple => true, :id => "subscription_selection_ids_#{filter.id}" } %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <%= f.label t('.receivers'), :class => "span2" %>
        <div class="span5">
          <%= f.check_box :email %>
          <%= f.label :email %>
          <%= f.check_box :sms %>
          <%= f.label :sms %>
        </div>
      </div>

      <div class="alert-actions row">
        <div class="span5 offset2">
          <%= f.submit t("global.subscribe"), :class => "btn success span4" %>
        </div>
      </div>

    <% end %>

  <% else %>
    <div>
      <% for filter in @service.filters %>
        <span class="filter fields">
          <%= collection_select :subscription, :selection_ids, filter.selections, :id, :label, {}, {:multiple => true, :id => "subscription_selection_ids_#{filter.id}" } %>
        </span>
      <% end %>
      <button class="btn success" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true"><%= t('global.subscribe') %></button>
    </div>
  <% end %>
</div>


<script type="text/javascript">
$(function() {
  $(".filter select").multiselect({
    selectedList: 1,
    header: false,
    minWidth: 180,
  });

  $("#subscription_email, #subscription_sms").button();

  $(".subscribe").click(function() {
    $("#service-subscription").toggle();
    $(this).toggleClass("disabled");
  });
});
</script>