<% page_name = t(".listing_services") %>
<% title page_name %>
<% meta_description t('home.desc.meta_description') %>
<% 
  breadcrumbs.add t('global.services')
%>

<% unless @services.count == 0 %>
  <%= content_tag :h2, page_name %>
<% else %>
  <%= content_tag :h2, t('search.no_service') %>
<% end %>


<% unless @services.count == 0 %>
  <ul class="page-list" id="services">
    <%= render @services %>
  </ul>

  <div id="paginate">
    <%= paginate @services %>
  </div>
<% else %>
  <%= render 'no_result' %>
<% end %>
