<% page_name = t(".listing_services") %>
<%= title page_name %>
<% 
  breadcrumbs.add t('global.services')
%>

<% unless @services.count == 0 %>
  <%= content_tag :h2, page_name %>
<% else %>
  <%= content_tag :h2, t('search.no_service') %>
<% end %>


<% unless @services.count == 0 %>
  <div id="services">
    <ul class="page-list">
      <%= render @services %>
    </ul>
  </div>
<% else %>
  <%= render 'no_result' %>
<% end %>
