<% page_name = "#{@service.title} Selections" %>
<%= title page_name %>
<%
  breadcrumbs.add "Services", services_path
  breadcrumbs.add @service.title, service_path(@service)
  breadcrumbs.add "Selections"
%>

<%= content_tag :h2, page_name %>

<% @service.filters.each do |filter| %>
  <div style="padding-bottom: 10px; margin-bottom: 10px; border-bottom: 10px solid #ccc; ">
    <%= content_tag :h3 do %>
      <%= filter.name %>
      <%= content_tag :span, pluralize(filter.selections.count, 'selection'), :class => "label label-success" %>
    <% end %>

    <ul class="sortable selections" data-update-url="<%= sort_services_url %>" id="filter_<%= filter.id %>">
      <%= render filter.selections.order("position") %>
    </ul>

    <% if filter.selections.count == 0 %>
      <%= form_for Selection.new(:filter_id => filter.id), :url => multiple_add_selections_path do |f| %>
        <%= f.hidden_field :filter_id %>
        <div>
          <%= f.text_area :multiple_selections, :rows => "10", :class => "span3" %>
        </div>
        <%= f.submit %>
      <% end %>
    <% else %>
      <%= render "selections/form", filter: filter %>
    <% end %>
  </div>
<% end %>

<% if (Service::FILTER_COUNT - @service.filters.count) > 0 %>
  <div style="padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ccc; ">
    <%= form_for Filter.new(:service_id => @service.id) do |f| %>
      <%= f.hidden_field :service_id %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>

<script>
$(document).ready(function(){

  $('.sortable').sortable({
    axis: 'y',
    handle: ".handle",
    update: function() {
      return $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });

  $('.selection_filter_id').each(function () {
    $(this).autocomplete({
      source: $(this).data('autocomplete-source')
    });
  });

});
</script>