<%= title @service.title %>
<%= content_for :breadcrumb do %>
  &raquo; <%= link_to "Services", services_path %>
  &raquo; <span><%= @service.title %></span>
<% end %>

<article>
<h2><%= @service.title%></h2>

<p>
  <%= @service.description %>
</p>

<table>
  <tr>
    <th>Service</th>
    <th>Title</th>
    <th>Sms</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @service.notifications.each do |notification| %>
  <tr>
    <td><%= notification.service %></td>
    <td><%= notification.title %></td>
    <td><%= notification.sms %></td>
    <td><%= truncate notification.description, :length => 30 %></td>
    <td><%= link_to 'Show', [@service, notification] %></td>
    <td><%= link_to 'Edit', edit_service_notification_path(@service, notification) %></td>
    <td><%= link_to 'Destroy', service_notification_path(@service, notification), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Notification', new_service_notification_path(@service) %>
</article>