<% page_name = @service.title %>
<% title page_name %>
<% meta_description @service.description %>
<%
  breadcrumbs.add t('global.services'), services_path
  breadcrumbs.add @service.title
%>

<article>
  <%= content_tag :h2, page_name %>

  <p>
    <%= simple_format @service.description %>
  </p>

  <%= render "services/statics" %>

  <%= render "services/subscription" %>

  <div id="service-notification">
    <h3><%= t('.notifications') %></h3>
    <ul class="page-list" id="notifications">
      <%= render @notifications %>
    </ul>
  </div>

  <div id="paginate">
    <%#= paginate @notifications %>
  </div>

</article>