<% page_name = @service.title %>
<%= title page_name %>
<%
  breadcrumbs.add "Services", services_path
  breadcrumbs.add @service.title
%>

<article>
  <%= content_tag :h2, page_name %>

  <p>
    <%= @service.description %>
  </p>

  <div id="service-statics">
    <div class="item">
      <div class="count">
        <span><%= @service.subscriptions.count %></span>
      </div>
      <div class="desc">
        <span>takipçi</span>
      </div>
    </div>  


    <div class="item">
      <div class="count">
        <span>23</span>
      </div>
      <div class="desc">
        <span>ortalama aylık gönderim</span>
      </div>
    </div>

    <div class="item">
      <div class="count">
        <span>987</span>
      </div>
      <div class="desc">
        <span>kişi beğendi</span>
      </div>
    </div>
  </div>

  <%= render "services/subscription" %>

  <div id="service-notification">
    <h3>Service Notification</h3>
    <ul>
    <% @service.notifications.each do |notification| %>
      <li class="notice no-list-style">
        <%= link_to notification.sms, service_notification_path(@service, notification) %>
      </li>
    <% end %>
    </ul>
  </div>

  <p><%= link_to 'New Notification', new_service_notification_path(@service) %></p>

</article>