<%= title @service.title %>
<%= content_for :breadcrumb do %>
  &raquo; <%= link_to "Services", services_path %>
  &raquo; <span><%= @service.title %></span>
<% end %>

<article>
<h2><%= @service.title%></h2>

<p>
  <%= @service.description %>
</p>