<% page_name = "Notifications" %>
<% title page_name %>

<%= body_class "admin-page" %>

<%= content_tag :h2, page_name %>

<table class="table table-striped" id="sortable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Service</th>
      <th>Published_at</th>
      <th>Actions</th>
      <th>Published</th>
    </tr>
  </thead>

  <tbody>
  <% @notifications.each do |notification| %>
    <tr>
    <td><%= notification.id %></td>
    <td><%= truncate(notification.title, length: 30) %></td>
    <td><%= notification.services.map(&:title).map { |title| truncate(title, length: 20) }.join(", ") %></td>
    <td><%= notification.published_at %></td>
    <td>
      <% notification.services. each_index do |x| %>
        <%= link_to x, [notification.services[x], notification] %> -
      <% end %>
      <%= link_to "edit", edit_service_notification_path(notification.services.first, notification) %>
      <%= link_to "destroy", [notification.services.first, notification], confirm: "Are you sure?", method: :delete %>
    </td>
    <td>
      <% if notification.published? %>
        ✓
      <% else %>
        <%= link_to "Publish", publish_admin_notification_path(notification), confirm: "Are you sure?", method: :put, :class => "btn btn-danger small" %>
      <% end %>
    </td>
    </tr>
  <% end %>
    
  </tbody>
</table>

<script >
$(function() {
  $("table#sortable").tablesorter({ sortList: [[6,0]] });
});
</script>

<%= content_for :left do %>
  <%= render "admin/shared/menu_links" %>
<% end %>