<% page_name = "Notifications" %>
<% title page_name %>

<%= body_class "admin-page" %>

<%= content_tag :h2, page_name %>

<table class="condensed-table zebra-striped" id="sortable">
  <thead>
    <tr>
      <th class="header ">ID</th>
      <th class="header red">Title</th>
      <th class="header yellow">Service</th>
      <th class="header blue">Published_at</th>
      <th class="header">Actions</th>
      <th class="header green">Published</th>
    </tr>
  </thead>

  <tbody>
  <% @notifications.each do |notification| %>
    <tr>
    <td><%= notification.id %></td>
    <td><%= notification.title %></td>
    <td><%= notification.service.title %></td>
    <td><%= notification.published_at %></td>
    <td>
      <%= link_to "view", [notification.service, notification] %>
      <%= link_to "edit", edit_service_notification_path(notification.service, notification) %>
      <%= link_to "destroy", [notification.service, notification], confirm: "Are you sure?", method: :delete %>
    </td>
    <td>
      <% if notification.published? %>
        ✓
      <% else %>
        <%= link_to "Publish", publish_admin_notification_path(notification), confirm: "Are you sure?", method: :put, :class => "btn danger small" %>
      <% end %>
    </td>
    </tr>
  <% end %>
    
  </tbody>
</table>

<script >
$(function() {
  $("table#sortable").tablesorter({ sortList: [[6,0]] });
});
</script>

<%= content_for :left do %>
  <%= render "admin/shared/menu_links" %>
<% end %>