<% provide :body_class, 'small-page' %>

<%= column_navbar title: t('devise.confirmations.resend') do %>
  <%= render "devise/shared/links" %>
<% end %>

<%= horizontal_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.input :email, as: :email %>
  <div class="form-actions page-bottom-actions">
    <%= f.button :submit, t('devise.confirmations.send') %>
  </div>
<% end %>

