<li class="<%= notice.read? ? "read" : "unread" %>">
  <% if notice.new? %>
    <%= content_tag :span, t('global.new'), :class => "label warning" %>
    <% notice.update_attributes(:new => false) %>
  <% end %>
  <% if notice.read? %>
    <%= link_to notice.notification.title, [notice.notification.service, notice.notification] %>
  <% else %>
    <strong><%= link_to notice.notification.title, [notice.subscriptions.first.service, notice.notification] %></strong>
  <% end %>
  <p class="desc"><%= notice.notification.sms %></p>
</li>