<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <legend><%=t 'users.signup' %></legend>

  <%#= devise_error_messages! %>  
  <%= error_messages_for resource %>

  <table class="table table-form">
    <%= simple_email_field    f, :email, label: { name: t('users.email') } %>
    <%= simple_password_field f, :password, label: { name: t('users.password') } %>
    <%= simple_password_field f, :password_confirmation, label: { name: t('users.password_confirmation') } %>
    <%= simple_submit f, t('users.signup') %>
  </table>
<% end %>

<%= render "devise/shared/links" %>
