<% page_name = "Sign up" %>
<%= title page_name %>
<%= body_class "small-page" %>


<div class="page-form">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:autocomplete => :off}) do |f| %>
  <%= devise_error_messages! %>


  <div class="small-form">
    <div>
      <p>
        <%= f.label :email %>
        <%= f.email_field :email, :class => "span6" %>
      </p>

      <p>
        <%= f.label :password %>
        <%= f.password_field :password, :class => "span6" %>
      </p>
    
      <p>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "span6" %>
      </p>

      <p>
        <%= f.submit "Sign up", :class => "btn success", :style => "width:343px;" %>
      </p>
    </div>
  </div>
<% end %>
</div>


