<% page_name = "Accounts" %>
<% provide :title, page_name %>

<%= body_class "admin-page" %>

<%= content_tag :h2, page_name %>

<table class="table table-striped" id="sortable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Sign in Count</th>
      <th>Current Sign in At</th>
      <th>Current Sign in IP</th>
      <th>Last Sign in At</th>
      <th>Last Sign in IP</th>
      <th>Subscriptions</th>
    </tr>
  </thead>

  <tbody>
  <% @accounts.each do |account| %>
    <tr>
    <td><%= account.id %></td>
    <td><%= account.email %></td>
    <td><%=l account.created_at, format: :short %></td>
    <td><%=l account.updated_at, format: :short %></td>
    <td><%= account.sign_in_count %></td>
    <td><%=l account.current_sign_in_at, format: :short %></td>
    <td><%= account.current_sign_in_ip %></td>
    <td><%=l account.last_sign_in_at, format: :short %></td>
    <td><%= account.last_sign_in_ip %></td>
    <td><%= account.subscriptions.map(&:service).map(&:title).join(", ") %></td>
    </tr>
  <% end %>
    
  </tbody>
</table>

<script >
$(function() {
  $("table#sortable").tablesorter({ sortList: [[6,0]] });
});
</script>

<%= content_for :left do %>
  <%= render "admin/shared/menu_links" %>
<% end %>