<% if show_comment?(comment, current_account) %>  
  <div id="comment_<%= comment.id %>" class="row comment <%= "owner" if o = comment.notification_owner? %> <%= "private" if p = comment.private? %>">
    <div class="span1 offset1">
      <div class="author">
        <%= comment.author_email_name %>
        <%= label_info "owner" if o %>
        <%= label_success "private" if p %>
      </div>
    </div>
    <div class="span6">
      <div class="body">
        <div class="ins">
          <%= simple_format comment.body %>
          <%= comment_date comment %>
          <% if comment.private? %>
            <div class="answers">
              <%= render partial: "comments/answer", collection: comment.comments %>
              <%= render partial: "comments/answer_form", locals: {notification: comment.notification, parent_id: comment.id} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>