<%= form_for Comment.new(:notification_id => notification.id), :remote => true do |f| %>
  <%= f.hidden_field :notification_id %>
  <div class="row comment">

    <div class="span2 offset1">
      <div class="author">
        <%= current_account.email.split("@")[0] %>
      </div>
    </div>

    <div class="span8">
      <div class="body">
        <div class="ins">
          <%= f.text_area :body, :rows => 3, :class => "span7" %>
          <%= f.submit %>
        </div>
      </div>
    </div>
  </div>
<% end %>