<%= form_for [@node_type, @node], html: { multipart: true } do |f| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.messages.delete(:features) %>
      <% @node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="table table-form">
    <%= f.hidden_field :node_type_id %>
    <%= hidden_field_tag "token", params[:token] %>
    <%= simple_text_field f, :title, label: { name: @node_type.title_label } %>
    <%= f.fields_for :features do |form_builder| %>
      <%= feature_form_for(form_builder) %>
    <% end %>

    <% unless user_signed_in? || @node.author %>
      <%= simple_text_field f,
            :author_email,
            help: "Uye olmadan veya giris yapmadan ilan ekleyebilirsiniz. Bunun
                  icin sadece email adresinizi yazmanız yeterli." %>
    <% end %>

    <%= checkbox_group nil do %>
      <%= f.submit "Save", class: "btn" %>
      <%= f.submit "Publish", class: "btn", name: "node[publish]" unless @node.published? %>
    <% end %>
  </table>
<% end %>
