<%= form_for [@node_type, @node], html: { multipart: true } do |f| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.messages.delete(:features) %>
      <% @node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="table table-form">
    <%= f.hidden_field :node_type_id %>
    <%= hidden_field_tag "token", params[:token] %>
    <%= simple_text_field f, :title, label: { name: @node_type.title_label } %>
    <%= f.fields_for :features do |form_builder| %>
      <%= feature_form_for(form_builder) %>
    <% end %>

    <% unless user_signed_in? or f.object.email_send? %>
      <%= simple_text_field f,
            :author_email,
            help: "Uye olmadan veya giris yapmadan ilan ekleyebilirsiniz. Bunun
                  icin sadece email adresinizi yazmanız yeterli." %>

      <%= checkbox_group "Captcha" do %>
        <%= recaptcha_tags display: { theme: 'clean' } %>
      <% end %>
    <% end %>

    <%= checkbox_group nil do %>
      <%= f.submit  "Save", 
                    class: "btn",
                    rel: "popover",
                    data: {
                      content: "Formu başarılı bir şekilde kaydettiğinizde eklediğin node yayınlanmaz. Yayınlanabilmesi için publish yapmalısız."
                    } %>
      <% unless @node.published? %>
        <%= f.submit  "Publish",
                      class: "btn",
                      name: "node[publish]",
                      rel: "popover",
                      data: {
                        content: "Bu node'u yayınlamak için bu butonu kullanınız."
                      } %>
      <% end %>
    <% end %>
  </table>
<% end %>
