<%= horizontal_form_for  [@node_type, @node],
              url: node_type_node_path(@node_type._id, @node._id),
              html: { multipart: true },
              as: :node do |f| %>

  <%= hidden_field_tag "token", params[:token] %>
  <%= f.input :title, label: @node_type.title_label %>

  <% @node_type.nodes_custom_fields.each do |field| %>
    <%= FormFields::FormField.presenter(f, field, self) %>
  <% end %>

  <% unless user_signed_in? or f.object.email_send? %>
    <%= f.input :author_email,
                hint: "Uye olmadan veya giris yapmadan ilan ekleyebilirsiniz. Bunun
                      icin sadece email adresinizi yazmanız yeterli." %>

    <%= f.input :captcha do %>
      <%= recaptcha_tags display: { theme: 'clean' } %>
    <% end %>
  <% end %>

  <div class="form-actions page-bottom-actions">
    <%= f.button :submit %>
  </div>

<% end %>