<table class="node-info">
  <tr>
    <td>
      <div><%= time_ago_in_words(@node.created_at) %></div>
      <div>önce eklendi.</div>
    </td>

    <td>
      <div><%= @node.author.try(:username) || @node.author.try(:email_name) || "Anonymous user" %></div>
      <div>Author</div>
    </td>

    <td>
      <div><%= @node.comments.size %></div>
      <div>yorum sayısı</div>
    </td>

    <td>
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Yönet
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Düzenle", edit_node_type_node_path(@node.node_type, @node) %></li>
          <li><%= link_to "Yayından kaldır", "#" %></li>
          <li><%= link_to "Sil", "#" %></li>
        </ul>
      </div>
    </td>

    <td>
      <%= link_to @node_type.name, node_type_nodes_path(@node_type) %>
    </td>
  </tr>
</table>