<table class="node-info">
  <tr>
    <td>
      <div class="info-label">
        <i class="info-icon icon-time pull-right"></i>
        <%= time_ago_in_words(@node.created_at) %> önce
      </div>
    </td>

    <td>
      <div class="info-label">
        <i class="info-icon icon-user pull-right"></i>
        <%= @node.author.try(:email_name) %>
        <%= link_to "(nodes)", author_nodes_path %>
      </div>
    </td>

    <td>
      <div class="info-label">
        <i class="info-icon icon-comments-alt pull-right"></i>
        <%= @node.comments.size %> yorum
      </div>
    </td>


  </tr>

  <tr class="hidden-row">
    <td>
      <div class="info-label">
        <% if @node.published? %>
          <i class="info-icon pull-right icon-ok"></i> yayında
        <% elsif @node.pending_approval? %>
          <i class="info-icon pull-right icon-bell"></i> onay bekliyor
        <% else %>
          <i class="info-icon pull-right icon-off"></i> yayınlanmıyor
        <% end %>
      </div>
    </td>
    <td>
      <div class="info-label">
        <i class="info-icon pull-right icon-list"></i>
        <%= link_to @node_type.name, node_type_nodes_path(@node_type) %>
      </div>
    </td>
    <td>
      <div class="info-label">
        &nbsp;
      </div>
    </td>

  </tr>
</table>