<table class="node-info">
  <tr>
    <td>
      <div><%= time_ago_in_words(@node.created_at) %></div>
      <div class="info-label">önce eklendi</div>
    </td>

    <td>
      <div>
        <%= @node.author.try(:email_name) %>
        <%= link_to "(nodes)", author_nodes_path %>
      </div>
      <div class="info-label">author</div>
    </td>

    <td>
      <div><%= @node.comments.size %></div>
      <div class="info-label">yorum var</div>
    </td>

    <% if allow? :nodes, :edit, @node %>
      <td class="center">
        <div class="btn-toolbar">
          <%= dropdown "Yönet", classes: "btn-small", direction: "dropup" do %>
            <li><%= link_to "Göster", node_type_node_path(@node.node_type, @node) %></li>
            <li><%= link_to "Düzenle", edit_node_type_node_path(@node.node_type, @node) %></li>
            <li><%= link_to "Yayından kaldır", "#" %></li>
            <li class="divider"></li>
            <li><%= link_to t('actions.destroy'), 
                            node_type_node_path(@node_type, @node),
                            method: :delete,
                            confirm: "Are you sure?"  %></li>
          <% end %>
        </div>
      </td>
    <% end %>

    <td>
      <div><%= link_to @node_type.name, node_type_nodes_path(@node_type) %></div>
      <div class="info-label">node type</div>
    </td>
  </tr>
</table>