<%= content_tag :h1, @node_type.name %>

<% content_for :top do %>
  <% pjax_modal @node.try(:title), :node_id do %>
    <% if @node %>
      <%= render 'node_modal', node: @node %>
    <% end %>
  <% end %>
<% end %>

<div class="row" id="controls">
  <%= render 'filter_form' %>

  <div class="span3" id="view-links">
    <div class="btn-group" style="float:right">
      <% presenter = ViewPresenter.new(params.clone, self) %>
      <%= presenter.view_links %>
    </div>
  </div>
</div>

<%= presenter.view_tag do %>
  <% @nodes.each do |node| %>
    <%= render "nodes/#{presenter.current_view_type}_node", node: node %>
  <% end %>
<% end %>

<%= paginate @nodes %>