<% NodeTypeViewPresenter.new(@node_type, @nodes, params, self) do |view| %>
    
  <% content_for :left_column do %>
    <%= view.filters %>
  <% end %>

  <%= column_navbar title: view.page_title do %>
    <ul class="nav pull-right">
      <%= view.related_node_types %>
      <li><%= view.add_new_node_link %></li>
    </ul>
  <% end %>

  <div class="controls clearfix">
    <div class="pull-right">
      <div class="btn-group pull-right">
        <%= view.view_links %>
      </div>
      <span class="btn btn-link pull-right">Görünüm:</span>
    </div>


    <div class="pull-right">
      <div class="btn-group pull-right">
        <%= view.sort_links %>
      </div>
      <span class="btn btn-link pull-right">Sırala:</span>
    </div>
  </div>

  <div id="nodes">
    <%= view %>
  </div>

  <div id="paging">
    <%= view.paginate %>
  </div>
  
  <%= view.rendered_css %>
  <%= view.rendered_js %>

<% end %>
