<%= content_tag :h1, @node_type.name %>

<%= form_tag node_type_nodes_path, method: :get, class: "filter-form form-inline" do %>
  <table>
    <tr>
      <% @node_type.filters.each do |filter| %>
        <%= filter_for(filter) %>
      <% end %>
      <td>
        <%= submit_tag "Filter", class: "btn btn-mini btn-success btn-filter" %>
      </td>
    </tr>
  </table>
<% end %>

<table class="table table-form">
  <%= render @nodes %>
</table>
