<div class="block" id="user-menu">
  <ul>
    <%= subscription_menu_item(current_account) %>
    <% current_account.subscriptions.each do |subscription| %>
      <%= subscription_menu_item(subscription) %>
    <% end %>
  </ul>
</div>

<div class="block" id="user-menu">
  <ul>
    <%= menu_item "#{t('payments.name')} #{count_tag(current_account.credit.credit, t('global.credit'))}".html_safe, payments_path %>
    <%= menu_item t('account.edit_subscriptions'), edit_subscriptions_path %>
    <%= menu_item t('account.edit_email'), settings_email_path %>
    <%= menu_item t('account.edit_password'), settings_password_path %>
    <%= menu_item t('account.terminate'), settings_terminate_path %>
    <%= menu_item t('account.signout'), destroy_account_session_path, "delete" %>
  </ul>
</div>