<div class="block" id="user-menu">
  <ul>
    <%= menu_list "All notifications #{account_notice_count(current_account)}".html_safe, subscriptions_path %>

    <% current_account.subscriptions.each do |subscription| %>
      <%= menu_list "#{truncate(subscription.service.title, :length => 30)} #{subscription_notice_count(subscription)}".html_safe, subscription %>
    <% end %>
  </ul>
</div>

<div class="block" id="user-menu">
  <ul>
    <%= menu_list "Payments", accounts_payments_path %>
    <%= menu_list "Edit Account", edit_account_registration_path %>
    <%= menu_list "Edit Subscriptions", edit_subscriptions_path %>
    <%= menu_list "Sign out", destroy_account_session_path, "delete" %>
  </ul>
</div>