<%= form_item_layout do %>
  <%= form_label_layout do %>
    <%= field.f.label field.form_key, field.label %>
    <%= content_tag :span, "*", class: "required" if field.required? %>
  <% end %>
  <%= form_value_layout class: "multiple-places" do %>
    <% javascript 'jquery-plugins/jquery.chained' %>
    <% field.build_place %>

    <div class="places">
      <%= field.f.fields_for field.form_key do |builder| %>
        <%= render 'fields/place/place_item', field: field, builder: builder %>
      <% end %>
    </div>

    <%= javascript_tag do %>
      $(function() { $('fieldset').treeSelect(); });
    <% end %>

    <%= field.link_to_add_place if field.multiselect? %> 
    <%= field.help_text %>
  <% end %>
<% end %>