<% tree = field.tree %>
<% tree.each_with_index do |level, i| %>
  <select id="place_<%= field.conf.id %>_<%= i %>"
          name="<%= field.form_machine_names[i] %>"
          class="span2 single-input">
    <option value="">
      <%= field.form_level_names[i] %>
    </option>
    <% level.each do |place| %>
      <option value="<%= place.id %>"
              class="<%= place.parent.id unless i == 0 %>"
              <%= "selected" if place.id.to_s == params["#{field.form_machine_names[i]}"] %>>
        <%= place.name %>
      </option>
    <% end %>
  </select>
<% end %>

<% javascript 'jquery-plugins/jquery.chained' %>
<%= javascript_tag do %>
  <% (tree.count - 1).times do |i| %>
    $("#place_<%= field.conf.id %>_<%= i+1 %>").chained("#place_<%= field.conf.id %>_<%= i %>");
  <% end %>
<% end %>