<fieldset class="place-select">
  <% name = (builder.collection_select :place_ids, field.tree.first, :id, :name, {}).split("name=\"").last.split("\"").first + "[]" %>
  <% field.tree.each_with_index do |level, i| %>
    <p>
      <select id="place_<%= counter %>_<%= i %>" name="<%= name %>" class="for_place_test_<%= i %>">
        <option value=""></option>
        <% level.each do |place| %>
          <option value="<%= place.id %>"
                  class="<%= place.parent_id unless i == 0 %>"
                  <%= "selected" if builder.object.place_ids.include? place.id %>>
            <%= place.name %>
          </option>
        <% end %>
      </select>
      <% if i == field.tree.size - 1 %>
        <%= builder.hidden_field :_destroy %>
        <%= field.link_to_remove_place if field.multiselect? %>
      <% end %>
    </p>
  <% end %>
</fieldset>