<% url = if @fc.new_record?
            node_type_features_feature_configurations_path
          else
            node_type_features_feature_configuration_path
          end %>

<%= form_for [@node_type, @fc],
    url: url do |f| %>
  <table class="table table-form">
    <%= hidden_field_tag "_type", @fc._type %>
    <%= simple_text_field f, :label %>
    <%= simple_check_box f, :required %>
    <%= simple_text_area f, :help_text, input: { rows: 3 } %> 
    <%#= simple_check_box f, :sort %>
    <%#= simple_check_box f, :filter, input: { data: { toggle: "filter" } } %>
    <%= render "#{@fc.partial_dir}/configuration_form", f: f %>
    <%= simple_submit f %>
  </table>
<% end %>