<h2>Resend unlock instructions</h2>

<div class="page-form">
<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-item email-field clearfix">
    <%= f.label :email, :class => "main-label" %>
    <span class="long-field">
      <%= f.email_field :email %>
    </span>
  </div>

  <div id="submit">
    <%= f.submit "Resend unlock instructions", :style => "margin-left: 190px" %>
  </div>
<% end %>
</div>

<%= render :partial => "devise/shared/links" %>