<%= node_type_navigation %>
<% provide :title, "Potential Users" %>
<% provide :body_class, "node-type-manage" %>
<%= page_title "Potential Users" %>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @potential_users.each do |user| %>
      <%= content_tag_for :tr, user do %>
        <td><%= user.email %></td>
        <td><%= user.tags.join(', ') %></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= node_type_background %>