<% provide :title, "Potential Users" %>

<%= column_navbar title: @node_type.name do %>
  <%= node_type_navigation %>
<% end %>

<%= content_tag  :legend, "Potential Users" %>
<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for :tr, @potential_users do |user| %>
      <td><%= user.email %></td>
      <td><%= user.tags.join(', ') %></td>
    <% end %>
  </tbody>
</table>

