<%= form_tag node_type_nodes_path(),
             method: :get,
             class: "filter-form filters-top form-inline control-title" do %>
  
  <table>
    <tr>
      <% if params[:author_id].present? %>
        <td>
          <%= label_tag "Author" %>
          <label class="checkbox">
            <%= check_box_tag "author_id", params[:author_id], true %>
            <%= User.where(id: params[:author_id]).first.username_or_email_name %>
          </label>
        </td>
      <% end %>

      <% @node_type.filters.each do |conf| %>
        <%= render 'nodes/filters_top_side/filter_block', filter: filter_for(conf) %>
      <% end %>
      <td>
        <%= render 'hidden_fields' %>
        <%= submit_tag "Filter", class: "btn btn-success" %>
      </td>
    </tr>
  </table>
  
<% end %>