<div class="page-form">
<%= form_for [@service, @notification] do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item text-field row">
    <%= label_tag nil, "Service", :class => "span3" %>
    <span class="span8">
      <%= text_field_tag nil, nil, :placeholder => @service.title, :disabled => true, :class => "span8" %>
    </span>
  </div>

  <div class="form-item title-field row">
    <%= f.label :title, "Notification title", :class => "span3" %>
    <span class="span8">
      <%= f.text_field :title, :class => "span8" %>
    </span>
  </div>

  <div class="form-item textarea-field row">
    <%= f.label :sms, :class => "span3" %>
    <span class="span8">
      <%= f.text_area :sms, :rows => "2", :maxlength => 160, :class => "limited span8 " %>
      <p class="right-align mini-font no-margin"><span class="chars-left pastelred">160</span> char left.</p>
    </span>
  </div>

  <div class="form-item multi-select row" id="filters">
    <%= label_tag nil, "Filters", :class => "span3" %>
    <span class="span8">
      <% for filter in @service.filters %>
        <span class="filter fields">
          <span class="fixed"><%= truncate(filter.name, :length => 20) %></span>
          <%= collection_select :notification, :selection_ids, filter.selections, :id, :label, {}, {:multiple => true, :id => "notification_selection_ids_#{filter.id}"} %>
        </span>
      <% end %>
    </span>
  </div>

  <script type="text/javascript">
  $(function() {
    $(".filter select").multiselect({
      selectedList: 1,
      header: false,
      minWidth: 270,
    });
  });
  </script>

  <div class="form-item textarea-field row">
    <%= f.label :description, :class => "span3" %>
    <span class="span8">
      <%= f.text_area :description, :rows => "10", :class => "span8" %>
    </span>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
</div>