<div class="page-form">
<%= form_for [@service, @notification] do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item text-field row">
    <%= label_tag nil, t("services.one"), :class => "span3" %>
    <span class="span8">
      <%= text_field_tag nil, nil, :placeholder => @service.title, :disabled => true, :class => "span8" %>
    </span>
  </div>

  <div class="form-item title-field row">
    <%= f.label :title, t("notifications.title"), :class => "span3" %>
    <span class="span8">
      <%= f.text_field :title, :class => "span8" %>
    </span>
  </div>

  <div class="form-item textarea-field row">
    <%= f.label :sms, :class => "span3" %>
    <span class="span8">
      <%= f.text_area :sms, :rows => "2", :maxlength => 160, :class => "limited span8 " %>
      <p class="right-align mini-font no-margin"><span class="chars-left pastelred">160</span> char left.</p>
    </span>
  </div>

  <% unless @service.filters.blank? %>
    <div class="form-item multi-select row" id="filters">
      <%= label_tag nil, t("notifications.filters"), :class => "span3" %>
      <span class="span8">
        <% for filter in @service.filters %>
          <span class="filter fields">
            <span class="fixed"><%= truncate(filter.name, :length => 20) %></span>
            <%= collection_select :notification, :selection_ids, filter.selections, :id, :label, {}, {:multiple => true, :id => "notification_selection_ids_#{filter.id}"} %>
          </span>
        <% end %>
      </span>
    </div>
  <% end %>

  <script type="text/javascript">
  $(function() {

    var target = $("#target");

    $(".filter select").multiselect({
      selectedList: 1,
      minWidth: 290,
    }).change(function () {

      var str = "";
      $("select option:selected").each(function () {
        str += $(this).val() + "+";
      });

      target.attr(
        'href', "<%= calculate_service_notifications_path(@service) %>?selection_ids=" + str
      );
    }).trigger('change');

    target.live("click", function() {
      $("#subscription_price").html("<%= t('global.loading') %>");
      $.getScript(this.href);
      return false;
    });

    $( "#notification_available_until" ).datepicker({ minDate: -1, maxDate: "+1M", dateFormat: "yy-mm-dd" });
  });
  </script>

  <div class="form-item info-field row">
    <%= label_tag nil, t("notifications.price"), :class => "span3" %>
    <span class="span8">
      <span id="subscription_price">
        <%= @service.filters.blank? ? "#{(@service.service_price.sender_credit * @service.subscriptions.count)} #{t('global.credit')}" : t('global.free') %>
      </span>
      <% if @service.filters.present? %>
        <%= link_to "Refresh", "", :id => "target", :class => "btn small", :style => "float:right;" %>
      <% end %>
    </span>
  </div>

  <div class="form-item text-field row">
    <%= f.label :available_until, t('notifications.show.available'),:class => "span3" %>
    <span class="span8">
      <%= f.text_field :available_until, :class => "span3" %>
    </span>
  </div>

  <div class="form-item textarea-field row">
    <%= f.label :description, t('global.description'), :class => "span3" %>
    <span class="span8">
      <%= f.text_area :description, :rows => "10", :class => "span8" %>
    </span>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

</div>