<div class="page-form">
<%= form_for [@service, @notification] do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item title-field row">
    <%= f.label :title, t("notifications.title"), :class => "span2" %>
    <span class="span6">
      <%= f.text_field :title, :class => "span6" %>
    </span>
  </div>

  <div class="form-item textarea-field row">
    <%= f.label :sms, :class => "span2" %>
    <span class="span6">
      <%= f.text_area :sms, :rows => "2", :maxlength => 160, :class => "limited span6" %>
      <p class="right-align mini-font no-margin"><span class="chars-left pastelred">160</span> char left.</p>
    </span>
  </div>

  <div class="form-item multi-select row group" id="filters">
    <%= label_tag nil, t("global.services"), :class => "span2" %>
    <div class="span6">
      <div id="services">
        <%= f.fields_for :services_notifications do |sn| %>
          <% render "notifications/service_selections", f: sn %>
        <% end %>
      </div>
      <span class="group-item fields">
        <span class="group-item-header">
          <%= text_field_tag "service", nil, data: { autocomplete_source: services_path } %>
          <%= link_to "Add", new_service_notification_path, remote: true, class: "btn", id: "add-service" %>
        </span>
      </span>
    </div>
  </div>

  <script>
  $(document).ready(function(){
    function addService( title ) {
      $( "#add-service" ).attr("href", "<%= new_service_notification_path(@service, service_title: "") %>" + title )
    }

    $("#service").autocomplete({
      source: $("#service").data('autocomplete-source'),
      select: function( event, ui ) {
        addService( ui.item.value );
      }
    });

    $(".group-item-body-fields select").multiselect({
      selectedList: 1,
      minWidth: 300,
    }).multiselectfilter();


  });
  </script>


  <script type="text/javascript">
  // $(function() {

  //   var target = $("#target");

  //   $(".filter select").multiselect({
  //     selectedList: 1,
  //     minWidth: 290,
  //   }).multiselectfilter().change(function () {

  //     var str = "";
  //     $("select option:selected").each(function () {
  //       str += $(this).val() + "+";
  //     });

  //     target.attr(
  //       'href', "<%= calculate_service_notifications_path(@service) %>?selection_ids=" + str
  //     );
  //   }).trigger('change');

  //   target.live("click", function() {
  //     $("#subscription_price").html("<%= t('global.loading') %>");
  //     $.getScript(this.href);
  //     return false;
  //   });

  //   $( "#notification_available_until" ).datepicker({ minDate: -1, maxDate: "+1M", dateFormat: "yy-mm-dd" });
  // });
  </script>

  <div class="form-item info-field row">
    <%= label_tag nil, t("notifications.price"), :class => "span2" %>
    <span class="span6">
      <span id="subscription_price">
        <%= @service.filters.blank? ? "#{(@service.service_price.sender_credit * @service.subscriptions.count)} #{t('global.credit')}" : t('global.free') %>
      </span>
      <% if @service.filters.present? %>
        <%= link_to "Refresh", "", :id => "target", :class => "btn small", :style => "float:right;" %>
      <% end %>
    </span>
  </div>

  <div class="form-item textarea-field row">
    <%= f.label :description, t('global.description'), :class => "span2" %>
    <span class="span6">
      <%= f.text_area :description, :rows => "20", :class => "span6 tinymce" %>
    </span>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

</div>
