<% unless notification.free? %>
  <% if account_signed_in? and current_account.subscribing?(@service) %>
    <% subscription = current_account.subscription(@service) %>
    <% if subscription.have_notice?(notification) %>
      <% notice = subscription.notice(notification) %>
      <% if notice.sufficient_credit? %>
        <% show = true %>
      <% else %>
        <% show = false %>
        <% form = current_account.credit.credit >= notification.service.service_price.receiver_credit %>
        <% message_title = t('.insufficient_credit') %>
        <% if current_account.credit.credit < notification.service.service_price.receiver_credit %>
          <% message_body = t('subscriptions.show.buy_credit') %>
        <% else %>
          <% message_body = t('notifications.notification.sufficient_credit') %>
        <% end %>
      <% end %>
    <% else %>
      <% show = false %>
      <% form = current_account.credit.credit >= notification.service.service_price.receiver_credit %>
      <% message_body = t('notifications.notification.before_time') %>
    <% end %>
  <% else %>
    <% show = false %>
    <% message_body = t('notifications.notification.not_subscribing') %>
  <% end %>
<% else %>
  <% show = true %>
<% end %>


<li class="notice no-list-style <%= "active" if notification.active? %>" id="notification_<%= notification.id %>">
  <% unless show %>
    <div class="access-denied">
      <%= content_tag :strong, message_title if message_title %>
      <%= message_body %>
      <div class="list-form">
        <%= form_for Notice.new(:notification_id => notification.id), :remote => true do |f| %>
          <%= f.hidden_field :notification_id %>
          <%= f.submit "Add", :class => "btn small" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= link_to service_notification_path(@service, notification), :class => "data-remote" do %>
      <%= notification.sms %>
    <% end %>
  <% end %>
</li>