<span class="group-item fields">
  <span class="group-item-header">
    <%= f.hidden_field :service_id %>
    <%= f.object.service.title %>
    <% unless f.object.service.filters.blank? %>
      <span class="add-group-item btn action-btn"><%= t('services.add_group_item') %></span>
    <% end %>
    <span class="delete-group-item btn action-btn"><%= t('services.delete_group_item') %></span>
  </span>

  <% unless f.object.service.filters.blank? %>
    <div class="group-item-body" style="display: none; ">    
      <% for filter in f.object.service.filters %>
        <p class="filter group-item-body-fields">
          <%= label_tag nil, filter.name %>
          <%= f.collection_select :selection_ids, filter.selections, :id, :label, {}, {:multiple => true, :id => "notification_selection_ids_#{filter.id}"} %>
        </span>
      <% end %>
    </div>
  <% end %>
</span>