<% page_name = @notification.title %>
<% title page_name %>
<%
  breadcrumbs.add t("global.services"), services_path
  breadcrumbs.add @service.title, service_path(@service)
  breadcrumbs.add page_name
%>

<article>
  <% meta_description @notification.sms %>
  <%#= current_account.subscription(@notification.service).notice(@notification).update_attributes(:new => false, :read => true) if account_signed_in? && current_account.subscribing?(@notification.service) %>
  <%= content_tag :h2, page_name %>
  <ul id="selections-list">
    <% @notification.selections.each do |selection| %>
      <% if account_signed_in? and
            current_account.subscribing?(@notification.service) and
            current_account.subscription(@notification.service).selections.include?(selection) %>
        <li class="active"  data-placement="above" rel='twipsy' title='<%= t('.selected') %>'>
          <%= selection.label %>
          <span>✓</span>
        </li>
      <% else %>
        <li><%= selection.label %></li>
      <% end %>
    <% end %>
  </ul>

  <p style="font-weight: bold">
    <i><%= @notification.sms %></i>
  </p>

  <p>
    <%= sanitize @notification.description %>
  </p>

  <p>
    <%= t('global.created') %>: <strong><%= @notification.created_at %></strong><br>
    <%= t('.available') %>: <strong><%= @notification.available_until %></strong>
    <%= content_tag :span, "active", :class => "active" if @notification.active? %><br>
  </p>


  <div id="comments">
    <h3><%= t('comments.comment_title') %></h3>
    <%= render @notification.comments %>
  </div>

  <%= render 'comments/form', :notification => @notification if account_signed_in? %>

  <%= link_to t('global.edit'), edit_service_notification_path(@service, @notification) %> |
  <%= link_to t('global.back'), @service %>
</article>

<script>
$(function () {
  $("[rel=twipsy]").twipsy({
    live: true
  })
})
</script>