<%= title @notification.title %>
<%= content_for :breadcrumb do %>
  &raquo; <%= link_to "Services", services_path %>
  &raquo; <%= link_to @service.title, @service %>
  &raquo; <span><%= @notification.title %></span>
<% end %>

<article>
  <h2><%= @notification.title %></h2>

  <ul style="float:right; padding: 5px 20px; border: 1px solid #ccc;">
    <% @notification.selections.each do |selection| %>
      <li><%= selection.label %></li>
    <% end %>
  </ul>

  <p>
    <i><%= @notification.sms %></i>
  </p>

  <p>
    <%= simple_format @notification.description %>
  </p>


  <%= link_to 'Edit', edit_service_notification_path(@service, @notification) %> |
  <%= link_to 'Back', @service %>
</article>