<% page_name = @notification.title %>
<%= title page_name %>
<%
  breadcrumbs.add "Services", services_path
  breadcrumbs.add @service.title, service_path(@service)
  breadcrumbs.add page_name
%>

<article>
  <%= content_tag :h2, page_name %>

  <ul style="float:right; padding: 5px 20px; border: 1px solid #ccc;">
    <% @notification.selections.each do |selection| %>
      <li><%= selection.label %></li>
    <% end %>
  </ul>

  <p>
    <i><%= @notification.sms %></i>
  </p>

  <p>
    <%= simple_format @notification.description %>
  </p>


  <%= link_to 'Edit', edit_service_notification_path(@service, @notification) %> |
  <%= link_to 'Back', @service %>
</article>