<% page_name = @notification.title %>
<%= title page_name %>
<%
  breadcrumbs.add "Services", services_path
  breadcrumbs.add @service.title, service_path(@service)
  breadcrumbs.add page_name
%>

<article>
  <%= content_tag :h2, page_name %>

  <ul id="selections-list">
    <% @notification.selections.each do |selection| %>
      <% if account_signed_in? and current_account.subscriptions.find_by_service_id(@notification.service.id).selections.include?(selection) %>
        <li class="active"  data-placement="above" rel='twipsy' title='Currently, you selected this item'>
          <%= selection.label %>
          <span>✓</span>
        </li>
      <% else %>
        <li><%= selection.label %></li>
      <% end %>
    <% end %>
  </ul>

  <script>
    $(function () {
      $("li[rel=twipsy]").twipsy({
        live: true
      })
    })
  </script>

  <p style="font-weight: bold">
    <i><%= @notification.sms %></i>
  </p>

  <p>
    <%= simple_format @notification.description %>
  </p>


  <%= link_to 'Edit', edit_service_notification_path(@service, @notification) %> |
  <%= link_to 'Back', @service %>
</article>