<% page_name = t('.title', title: @notification.title) %>
<%= title page_name %>
<% stylesheet "statics" %>
<%
  breadcrumbs.add t('global.services'), services_path
  breadcrumbs.add @service.title, service_path(@service)
  breadcrumbs.add @notification.title, service_notification_path(@service, @notification)
  breadcrumbs.add t(".name")
%>
<%= content_tag :h2, page_name %>

<table class="statics-table" style="width:100%">
  <tbody>
    <tr>
      <td width="20%">
        <span class="count"><%= notice_count = @notification.notices.count %></span>
      </td>
      <td class="aLeft">
        <span><%= t('.sended') %></span>
      </td>
    </tr>

    <tr>
      <td>
        <span class="count"><%= read_notices_count = @notification.notices.count %></span>
      </td>
      <td class="aLeft">
        <span><%= t('.read') %></span>
      </td>
    </tr>

    <tr>
      <td>
        <span class="count"><%= (read_notices_count / notice_count) * 100 %>%</span>
      </td>
      <td class="aLeft">
        <span><%= t('.read_percentage') %></span>
      </td>
    </tr>

    <tr>
      <td>
        <span class="count">00:00</span>
      </td>
      <td class="aLeft">
        <span><%= t('.avarage_time') %></span>
      </td>
    </tr>

    <tr>
      <td>
        <span class="count">X</span>
      </td>
      <td class="aLeft">
        <span><%= t('.touched') %></span>
      </td>
    </tr>
  </tbody>
</table>