<% javascript 'jquery-plugins/jquery.chained' %>
<% field.build_place %>

<%= field.f.input field.form_key, label: field.label, hint: field.hint do %>
  <div class="multiple-places">

    <div class="places">
      <% counter = 0 %>
      <%= field.f.simple_fields_for field.keyname do |builder| %>
        <%= render 'custom_fields/fields/types/place/place_item', 
              field: field,
              builder: builder,
              counter: (counter+= 1) %>
      <% end %>
    </div>

    <%= javascript_tag do %>
      $(function() { $('fieldset.place-select').treeSelect(); });
    <% end %>

    <%= field.link_to_add_place if field.multiselect? %>
  </div>
<% end %>