<%= form_tag node_type_nodes_path(),
             method: :get,
             class: "filter-form filters-left" do %>

  <% if params[:author_id].present? %>
    <div class="filter">
      <h4>Author</h4>
      <div class="body">
        <label class="checkbox">
          <%= check_box_tag "author_id", params[:author_id], true %>
          <%= User.where(id: params[:author_id]).first.username_or_email_name %>
        </label>
      </div>
    </div>
  <% end %>

  <% @node_type.filter_configs.each do |conf| %>
    <%= render 'nodes/filters_left_side/filter_block', filter: filter_for(conf) %>
  <% end %>

  <%= render 'hidden_fields' %>
  <%= submit_tag "Filter", class: "btn btn-success" %>
<% end %>