<%= user_navigation %>
<% provide :title, @user.email %>
<% body_class "user-manage" %>


<legend>Yayında olan node'ler</legend>
<table class="table table-striped">
  <% @user.nodes.published.each do |node| %>
    <tr>
      <td><%= link_to node.title, node_type_node_path(node.node_type, node), remote: true %></td>
      <td><%= link_to node.node_type.name, node_type_nodes_path(node.node_type) %></td>
      <td><%= render 'node_actions_menu', node: node %></td>
    </tr>
  <% end -%>
</table>

<legend>Yayında olmayan node'ler</legend>
<table class="table table-striped">
  <% @user.nodes.expired.each do |node| %>
    <tr>
      <td><%= link_to node.title, node_type_node_path(node.node_type, node), remote: true %></td>
      <td><%= link_to node.node_type.name, node_type_nodes_path(node.node_type) %></td>
    </tr>
  <% end -%>
</table>

<legend>Onay bekleyen node'ler</legend>
<table class="table table-striped">
  <% @user.nodes.pending_approval.each do |node| %>
    <tr>
      <td><%= link_to node.title, node_type_node_path(node.node_type, node), remote: true %></td>
      <td><%= link_to node.node_type.name, node_type_nodes_path(node.node_type) %></td>
    </tr>
  <% end %>
</table>