<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <legend>Change your password</legend>
  
  <%#= devise_error_messages! %>
  <%= error_messages_for resource %>

  <table class="table table-form">
    <%= f.hidden_field :reset_password_token %>

    <%= simple_password_field f,
          :password,
          label: { name: t('devise.passwords.new_password') } %>

    <%= simple_password_field f,
          :password_confirmation,
          label: { name: t('devise.passwords.confirm_new_password') } %>

    <%= simple_submit f, t('devise.passwords.change') %>
  </table>
<% end %>

<%= render "devise/shared/links" %>
