<%= page_name = "Change your password" %>
<% provide :title, page_name %>
<%
  breadcrumbs.add page_name
%>
<%= render :partial => "devise/shared/links" %>

<div class="page-form">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-item password-field row">
    <%= f.label :password, "New password", :class => "span2" %>
    <span class="span4">
      <%= f.password_field :password, :class => "span4" %>
    </span>
  </div>

  <div class="form-item password-field row">
    <%= f.label :password_confirmation, "Confirm new password", :class => "span2" %>
    <span class="span4">
      <%= f.password_field :password_confirmation, :class => "span4" %>
    </span>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>
</div>
