<% page_name = t('devise.passwords.forgot') %>
<% provide :title, page_name %>
<% body_class "small-page" %>

<div class="page-form">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :autocomplete => :off }) do |f| %>
  <%= devise_error_messages! %>

  <div class="small-form">
    <div>

      <p>
        <%= f.label :email %>
        <%= f.email_field :email, :class => "span4" %>
      </p>

      <p>
        <%= f.submit t('devise.passwords.send_new'), :class => "btn btn-success" %>
      </p>

    </div>
<% end %>
</div>
