<% page_name = "Forgot your password?" %>
<% title page_name %>
<%= body_class "small-page" %>

<div class="page-form">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :autocomplete => :off }) do |f| %>
  <%= devise_error_messages! %>

  <div class="small-form">
    <div>

      <p>
        <%= f.label :email %>
        <%= f.email_field :email, :class => "span6" %>
      </p>

      <p>
        <%= f.submit "Send me reset password instructions", :class => "btn success" %>
      </p>

    </div>
<% end %>
</div>
