<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:title) || "The Place to Buy Stuff" %> - Synchronize.me</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<!-- /HEAD -->

<%
contentspan = content_for?(:left) ? 'span9' : 'span12'
allspan = content_for?(:left) ? '13' : '12'

%>

<body class="<%= content_for?(:right) or content_for?(:left) ? 'twoColumn' : 'oneColumn' %> <%= yield(:body_class) %>">

  <!-- Container -->
  <div class="container">

    <div id="page">
      <div class="row">


        <div class="<%= contentspan %>">
          <section id="content">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </section>
        </div>
        <!-- /Content -->


      </div>
    </div>
    <!-- /Page -->

    <%= render 'layouts/footer' %>

  </div>
  <!-- /Container -->

  <%= yield :bottom %>
</body>
</html>
