<div class="btn-group <%= direction %>">
  <a class="btn <%= classes %> dropdown-toggle" data-toggle="dropdown" data-no-turbolink="true" href="#">
    <%= title %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu <%= "pull-right" if direction == "dropup" %>">
    <%= yield %>
  </ul>
</div>