<%= form_for "account", :url => account_session_path, :html => { :id => "signin-form" } do |f| %>
  <p>
    <%= f.label :email, t("account.email") %>
    <%= f.text_field :email, :class => "span4" %>
  </p>

  <p>
    <%= f.label :password, t("account.password") %>
    <%= f.password_field :password, :class => "span4" %>
  </p>

  <p>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, t('account.remember_me') %>
  </p>
  <p>
    <%= f.submit t('account.signin'), :class => "span2 btn btn-primary" %>
    <%= link_to t('account.forgot_password'), new_password_path('account') %>
  </p>
<% end %>