<% url = if @fc.new_record?
            node_type_fields_field_configurations_path
          else
            node_type_fields_field_configuration_path
          end %>

<%= form_for [@node_type, @fc],
    url: url do |f| %>

  <%= error_messages_for @fc %>
  <table class="table table-form">
    <%= hidden_field_tag "_type", @fc._type %>
    <%= simple_text_field f, :label, label: { name: t('fields.label') } %>
    <%= simple_check_box f, :required, label: { name: t('fields.required')} %>
    <%= simple_text_area f,
      :help_text,
      input: { rows: 3 },
      help: t('fields.help_text_help'),
      label: { name: t('fields.help_text') } %> 

    <%= render "#{@fc.partial_dir}/configuration_form", f: f %>
    <%= simple_submit f, t('fields.add') %>
  </table>
<% end %>