<%= form_for @node_type do |f| %>
  <table class="table table-form">
    <%= simple_text_field f, :name %>
    <%= simple_text_field f, :title_label %>
    <%= simple_text_area f, :title_help, rows: 3 %>
    <%= simple_text_area f, :description, rows: 3 %>
    <%= simple_text_field f, :description_label %>
    <%= simple_submit f %>
  </table>
<% end %>
