<%= simple_form_for @node_type, html: { multipart: true } do |f| %>
  <%= f.input :name %>
  <%= f.input :title_label %>
  <%= f.input :description,
              as: :text,
              input_html: { rows: 3, class: "span4" } %>
  <%= f.input :filters_position,
              collection: f.object.class::FILTERS_POSITIONS,
              as: :radio_buttons,
              item_wrapper_class: "inline" %>
  <%= f.input :node_expiration_day_limit, as: :integer %>
  <%= f.input :commentable, as: :boolean %>
  <%= f.input :signin_required, as: :boolean %>
  <%= f.association :administrators, collection: @node_type.administrators.map { |u| [u.email, u.id] }, as:  :check_boxes %>
  <%= f.input :administrator_email, placeholder: "email" %>
  <%= f.input :background_image, as: :file, image_url: @node_type.background_image_url, wrapper: :single_image %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>