<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>title label</th>
      <th>title help</th>
      <th>desc</th>
      <th>description label</th>
    </tr>
  </thead>

  <% @node_types.each do |nt| %>
    <tr>
      <td><%= link_to nt.id, nt %></td>
      <td><%= nt.name %></td>
      <td><%= nt.title_label %></td>
      <td><%= nt.title_help %></td>
      <td><%= nt.desc %></td>
      <td><%= nt.desc_label %></td>
    </tr>
  <% end %>


</table>