<%= node_type_navigation %>


<%= javascript 'jquery-plugins/jquery.masonry' %>
<script>
$(function() {
  var $container = $('#dasboard');
  $container.imagesLoaded(function(){
    $container.masonry({
      itemSelector : '.widget'
    });
  });
})
</script>


<div class="row" id="dasboard">
  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>İstatistikler</h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <thead>
            <tr>
              <th>Yayındaki node sayısı</th>
              <td><%= @node_type.nodes.publishing.size %></td> 
            </tr>
          </thead>
          <tr>
            <th>Onay bekleyen node sayısı</th>
            <td><%= @node_type.nodes.approved_queue.size %></td> 
          </tr>
          <tr>
            <th>Silinecek/Çöp node sayısı</th>
            <td><%= @node_type.nodes.trash.size %></td> 
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>Son Nodes <span class="label label-info">p:true</span></h4>
      </div>
      <div class="caption">
        <ul>
          <% @node_type.nodes.published.limit(10).each do |n| %>
            <li><%= link_to n.title, [@node_type, n], remote: true %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>Onay bekleyen nodeler <span class="label label-info">p:true, a:false</span></h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <% @node_type.nodes.approved_queue.each do |n| %>
            <tr>
              <td><%= link_to n.title, [@node_type, n], remote: true %></td>
              <td><%= render 'nodes/approve_button', node: n %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>En çok görüntülenenler</h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <tr>
            <td>#TODO</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>Eklenme sayısı</h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <tr>
            <td>#TODO</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>Ziyaret Sayısı</h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <tr>
            <td>#TODO</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>Administrators</h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <% @node_type.administrators.each do |adm| %>
            <tr>
              <td><%= adm.username_or_email_name %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>