<%= tab_navigation %>

<div class="row" id="dasboard">
  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>İstatistikler</h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <thead>
            <tr>
              <th>Node sayısı</th>
              <td><%= @node_type.nodes.count %></td> 
            </tr>
          </thead>
          <tr>
            <th>Yayındaki node sayısı</th>
            <td><%= "#TODO" %></td> 
          </tr>
          <tr>
            <th>Onay bekleyen node sayısı</th>
            <td><%= "#TODO" %></td> 
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>Son Nodes</h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <% @node_type.nodes.limit(10).each do |n| %>
            <tr>
              <td><%= link_to n.title, [@node_type, n] %></td>
              <td><%= link_to "edit", edit_node_type_node_path(@node_type, n) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>Onay bekleyen nodeler</h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <tr>
            <td>#TODO</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>En çok görüntülenenler</h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <tr>
            <td>#TODO</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>Eklenme sayısı</h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <tr>
            <td>#TODO</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>Ziyaret Sayısı</h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <tr>
            <td>#TODO</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>