<% provide :title, "Dashboard" %>

<%= column_navbar title: @node_type.name do %>
  <%= node_type_navigation %>
<% end %>

<%= javascript 'jquery-plugins/jquery.masonry' %>
<script>
$(function() {
  var $container = $('#dasboard');
  $container.imagesLoaded(function(){
    $container.masonry({
      itemSelector : '.widget'
    });
  });
})
</script>


<div class="row" id="dasboard">
  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>İstatistikler</h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <thead>
            <tr>
              <th>Yayındaki node sayısı</th>
              <td><%= @node_type.nodes.published.size %></td> 
            </tr>
          </thead>
          <tr>
            <th>Onay bekleyen node sayısı</th>
            <td><%= @node_type.nodes.pending_approval.size %></td> 
          </tr>
          <tr>
            <th>Günü geçmiş node sayısı</th>
            <td><%= @node_type.nodes.expired.size %></td> 
          </tr>
          <tr>
            <th>Toplam</th>
            <td><%= @node_type.nodes.active.size %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>Son Nodes <span class="label label-info">p:true</span></h4>
      </div>
      <div class="caption">
        <ul>
          <% @node_type.nodes.published.limit(10).each do |n| %>
            <li><%= link_to n.title, node_type_node_path(@node_type, n), remote: true %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>Onay bekleyen nodeler <span class="label label-info">p:true, a:false</span></h4>
      </div>
      <div class="caption">
        <table class="table pending-approval" width="100%">
          <%= content_tag_for :tr, @node_type.nodes.pending_approval do |node| %>
            <td><%= link_to node.title,
                            node_type_node_path(@node_type, node),
                            remote: true %></td>
            <td><%= link_to_change_status node, "reject" %>
                <%= link_to_change_status node, "publish" %></td>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>Yönetim Linkleri</h4>
      </div>
      <div class="caption">
        
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>Eklenme sayısı</h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <tr>
            <td>#TODO</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>Ziyaret Sayısı</h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <tr>
            <td>#TODO</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="span4 widget">
    <div class="thumbnail">
      <div class="header">
        <h4>Administrators</h4>
      </div>
      <div class="caption">
        <table class="table" width="100%">
          <% @node_type.administrators.each do |adm| %>
            <tr>
              <td><%= adm.email %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

