<% page_name = t("account.edit_password") %>
<%= body_class "user-page" %>
<%= content_tag :h2, page_name %>
<% provide :title, page_name %>

<div class="page-form">
<%= form_for @account, :url => settings_update_password_path, :html => { :method => :put } do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item password-field row form-vertical">
    <%= f.label :password, "New password" %> 
    <%= f.password_field :password %>
    <i>leave blank if you don't want to change it</i>
  </div>

  <div class="form-item password-field row form-vertical">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="form-actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
</div>

<%= content_for(:left) do %>
  <%= render "devise/shared/user_menu" %>
<% end %>