<% url = if @view.new_record?
            node_type_views_views_path
          else
            node_type_views_view_path
          end %>

<%= simple_form_for [@node_type, @view], url: url do |f| %>


  <%= f.input :_type, as: :hidden %>

  <div class="btn-group pull-right">
    <%= %w(th-large th th-list list-alt align-justify list).each do |i| %>
      <label class="btn btn-small">
        <%= f.radio_button :icon, "icon-#{i}" %>
        <i class="icon-<%= i %>"></i>
      </label>
    <% end %>
  </div>

  <%= render "#{@view.partial_dir}/form", f: f %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>