<%= node_type_navigation %>
<% title = "Views" %>
<% provide :title, title %>
<% provide :body_class, "node-type-manage" %>


<%= content_tag :legend, title %>
<table class="table sortable">
  <tr>
    <td></td>
    <td><%= @node_type.node_view.class.name %></td>
    <td>
      <%= link_to "edit",
            edit_node_type_views_node_path(@node_type),
            class: "btn btn-mini" %>
    </td>
  </tr>

  <tbody data-update-url="<%= sort_node_type_views_views_url %>">
    <% @views.each do |view| %>
      <tr class="view" id="view_<%= view.id %>">
        <td><span class="handle">[drag]</span></td>
        <td><%= view.type %></td>
        <td>
          <%= link_to t('actions.edit'), edit_node_type_views_view_path(@node_type, view), class: "btn btn-mini" %>
          <%= link_to t('actions.destroy'), node_type_views_view_path(@node_type, view), method: :delete, confirm: "Are you sure?", class: "btn btn-mini" %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <%= javascript_tag do %>
    $('.sortable tbody').sortable({
      axis: 'y',
      handle: ".handle",
      update: function() {
        return $.post($(this).data('update-url'), $(this).sortable('serialize'));
      }
    });
  <% end %>

  <%= form_for [@node_type, @node_type.views.build], url: new_node_type_views_view_path, method: :get  do |f| %>
    <tr>
      <td></td>
      <td><%= select_tag "_type",
                options_for_select(Views::View.options_for_types) %></td>
      <td><%= f.submit t('views.add_new_view'), class: "btn" %></td>
    </tr>
  <% end %>
</table>

<%= node_type_background %>