<% url = if @field.new_record?
            node_type_custom_fields_fields_path
          else
            node_type_custom_fields_field_path
          end %>

<%= horizontal_form_for [@node_type, @field], url: url, as: :field do |f| %>
  <%= f.input :type, as: :hidden %>
  <%= f.input :label %>
  <%= f.input :required, as: :boolean %>
  <%= f.input :hint %>
  <%= render "custom_fields/fields/types/#{@field.type}/configuration_form", f: f %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>