<%= checkbox_group "Fields" do %>
    <ul class="sortable-list selections" data-update-url="<%= sort_views_view_fields_url(@view) %>">
      <% @view.fields.each do |field| %>
        <li class="field" id="field_<%= field.id %>">
          <span class="handle">[drag]</span>
          <%= field.field_configuration.label %>
          <%= link_to "Sil", views_view_field_path(@view, field), method: :delete, confirm: "Are you sure?" %>
        </li>
      <% end %>
    </ul>
    <% unless @view.fields.count == @node_type.field_configurations.count %>
      <%= form_for [@node_type, @view] do |f| %>
        <%= f.select :conf_id,
                      @node_type
                        .field_configurations
                        .map { |conf| [conf.label, conf.id] unless @view.fields.map(&:field_configuration_id).include?(conf.id) }
                        .compact %>
        <%= f.submit "Add field", class: "btn" %>
      <% end %>
    <% end %>
    <%= javascript_tag do %>
      $('.sortable-list').sortable({
        axis: 'y',
        handle: ".handle",
        update: function() {
          return $.post($(this).data('update-url'), $(this).sortable('serialize'));
        }
      });
    <% end %>
  <% end %>