<%= javascript 'aceajax/ace.js' %>

<fieldset class="section row">
  <div class="span7">
    <h3>CSS</h3>
    <div class="row" style="height: 300px;">
      <%= f.text_area :css, rows: 5, class: "span6" %>
      <div id="css_area" class="span7" style="height: 300px;"></div>
    </div>
  </div>

  <script>
    (function(){
      var css_editor = ace.edit("css_area");
      css_editor.setTheme("ace/theme/chrome");
      css_editor.getSession().setFoldStyle("manual");
      css_editor.getSession().setMode("ace/mode/css");
      css_editor.setHighlightActiveLine(false);
      var css_textarea = $('#views_custom_css').hide();
      css_editor.getSession().setValue(css_textarea.val());
      css_editor.getSession().on('change', function(){
        css_textarea.val(css_editor.getSession().getValue());
      });
    })();
  </script>

  <div class="span5">
    <h3>Help</h3>
    <ul>
      <li>Twitter bootstrap siniflarini kullanabilirsiniz.</li>
    </ul>
  </div>
</fieldset>

<fieldset class="section row">
  <div class="span7">
    <h3>JS</h3>
    <div class="row" style="height: 300px;">
      <%= f.text_area :js, rows: 5, class: "span6"%>
      <div id="js_area" class="span7" style="height: 300px;"></div>
    </div>
  </div>

  <script>
    (function(){
      var js_editor = ace.edit("js_area");
      js_editor.setTheme("ace/theme/chrome");
      js_editor.getSession().setMode("ace/mode/javascript");
      var js_textarea = $('#views_custom_js').hide();
      js_editor.getSession().setValue(js_textarea.val());
      js_editor.getSession().on('change', function(){
        js_textarea.val(js_editor.getSession().getValue());
      });
    })();
  </script>

  <div class="span5">
    <h3>Help</h3>
    <ul>
      <li>jQuery 1.8.6 zaten sayfaya ekli.</li>
      <li>jQuery açma-kapama taglarını kullanmaya gerek yok.</li>
    </ul>
  </div>
</fieldset>

<fieldset class="section row">
  <div class="span7">
    <h3>Node Type Layout</h3>
    <div class="row" style="height: 300px;">
      <%= f.text_area :user_input_node_type_template, rows: 5, class: "span6" %>
      <div id="uintt_area" class="span7" style="height: 300px;"></div>
    </div>
  </div>

  <script>
    (function(){
      var uintt_editor = ace.edit("uintt_area");
      uintt_editor.setTheme("ace/theme/chrome");
      uintt_editor.getSession().setMode("ace/mode/html");
      var uintt_textarea = $('#views_custom_user_input_node_type_template').hide();
      uintt_editor.getSession().setValue(uintt_textarea.val());
      uintt_editor.getSession().on('change', function(){
        uintt_textarea.val(uintt_editor.getSession().getValue());
      });
    })();
  </script>

  <div class="span5">
    <h3>Help for</h3>
    <ul>
      <li><code>nodes</code></li>
    </ul>
  </div>
</fieldset>

<fieldset class="section row">
  <div class="span7">
    <h3>Node Layout</h3>
    <div class="row">
      <%= f.text_area :user_input_node_template, rows: 5, class: "span6 node_layout" %>
      <div id="uint_area" class="span7" style="height: 300px;"></div>
    </div>
  </div>

  <script>
    (function(){
      var uint_editor = ace.edit("uint_area");
      uint_editor.setTheme("ace/theme/chrome");
      uint_editor.getSession().setMode("ace/mode/html");
      var uint_textarea = $('#views_custom_user_input_node_template').hide();
      uint_editor.getSession().setValue(uint_textarea.val());
      uint_editor.getSession().on('change', function(){
        uint_textarea.val(uint_editor.getSession().getValue());
      });
    })();
  </script>

  <div class="span5">
    <h3>Attributes</h3>
    <ul>
      <% @node_type.node_template_attrs.each do |attr| %>
        <li><code><%= attr %></code></li>
      <% end %>
    </ul>
  </div>
</fieldset>