<% page_name = "Listing notifications" %>
<% title page_name %>
<%= body_class "user-page" %>

<%= content_tag :h2, page_name %>

<div id="service-notice">
  <ul class="notices">
    <% current_account.notices.each do |notice| %>
      <li class="<%= notice.read? ? "read" : "unread" %>">
        <%= link_to [notice.notification.service, notice.notification] do %>
          <%= "<span class=\"label success\">New</span>".html_safe if notice.new? %>
          <%= notice.notification.sms %>
        <% end %>
      </li> 
    <% end %>
  </ul>
</div>

<% current_account.notices.where(:new => true).update_all(:new => false) if !current_account.notices.where(:new => true).blank? %>

<script type="text/javascript">
$(function() {
  $(".subscription input, .button").button();

});
</script>

<%= content_for(:left) do %>
  <%= render "devise/shared/user_menu" %>
<% end %>