<% page_name = "Listing notifications" %>
<% provide :title, page_name %>
<%= body_class "user-page" %>

<%= content_tag :h2, page_name %>

<div id="service-notice">
  <ul class="page-list">
    <%= render current_account.notices %>
  </ul>
</div>

<script type="text/javascript">
$(function() {
  $(".subscription input, .button").button();

});
</script>

<%= content_for(:left) do %>
  <%= render "devise/shared/user_menu" %>
<% end %>