<% page_name = @subscription.service.title %>
<% title page_name %>

<%= body_class "user-page" %>

<%= content_tag :h2, page_name %>

<div id="service-notice">
  <ul class="page-list">
    <%= render @subscription.notices %>
  </ul>
</div>

<%= content_for(:left) do %>
  <%= render "devise/shared/user_menu" %>
<% end %>