<p id="notice"><%= notice %></p>

<p>
  <b>Account:</b>
  <%= @subscription.account %>
</p>

<p>
  <b>Service:</b>
  <%= @subscription.service %>
</p>

<p>
  <b>Email:</b>
  <%= @subscription.email %>
</p>

<p>
  <b>Sms:</b>
  <%= @subscription.sms %>
</p>

<p>
  <b>Active:</b>
  <%= @subscription.active %>
</p>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
