<% page_name = @subscription.service.title %>
<% title page_name %>

<%= body_class "user-page" %>

<%= content_tag :h2, page_name %>

<div id="service-notice">
  <ul class="notices">
    <% @subscription.notices.each do |notice| %>
      <li class="<%= notice.read? ? "read" : "unread" %>">
        <%= link_to [notice.notification.service, notice.notification], :class => "data-remote" do %>
          <%= "<span class=\"label success\">New</span>".html_safe if notice.new? %>
          <%= notice.notification.sms %>
        <% end %>
      </li> 
    <% end %>
  </ul>
</div>

<% @subscription.notices.where(:new => true).update_all(:new => false) %>

<%= content_for(:left) do %>
  <%= render "devise/shared/user_menu" %>
<% end %>