<%= form_item_layout do %>
  <%= form_label_layout do %>
    <%= field.f.label field.form_key, field.label %>
    <%= content_tag :span, "*", class: "required" if field.required? %>
  <% end %>
  
  <%= form_value_layout do %>
    <div>
      <%= link_to "#add-image", class: "btn btn-success btn-mini add-image" do %>
        <%= content_tag :i, nil, class: "icon-white icon-plus" %>
        Add image
      <% end %>
      <%= field.info %>
    </div>

    <%= content_tag :ul,
                    class: "inline-list images",
                    data: { update_url: sort_fields_images_url } do %>
      <% field.images.each do |image| %>
        <%= render "fields/images/image", mustache: image_for_mustache(image: image, node: @node, keyname: field.keyname) %>
      <% end %>
    <% end %>

    <%= field.help_text %>    

    <script id="template" type="text/html">
      <%= render 'fields/images/image' %>
    </script>

    <% javascript 'jquery.remotipart' %>
    <% javascript 'mustache' %>
  <% end %>
<% end %>

<% content_for :top do %>
  <div id="hidden-form" style="display: none">
    <%= render 'fields/images/form', keyname: field.keyname %>
  </div>
<% end %>