<% provide :body_class, 'small-page' %>

<%= column_navbar title: t('sessions.signin') do %>
  <%= render "devise/shared/links" %>
<% end %>

<%= horizontal_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <%= f.input :email, as: :email %>
  <%= f.input :password, as: :password, hint: false %>

  <div class="control-group">
    <div class="controls">
      <% if devise_mapping.rememberable? -%>
        <%= label_tag nil, class: "checkbox" do %>
          <%= f.check_box :remember_me %> <%=t 'sessions.remember_me' %>
        <% end %>        
      <% end -%>
    </div>
  </div>

  <div class="form-actions page-bottom-actions">
    <%= f.button :submit, t('sessions.signin') %>
  </div>

<% end %>
