<% page_name = "Sign in" %>
<% title page_name %>
<%
  breadcrumbs.add page_name
%>
<%= content_tag :h2, page_name %>

<div class="page-form">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-item email-field clearfix">
    <%= f.label :email, :class => "main-label" %>
    <span class="long-field">
      <%= f.email_field :email %>
    </span>
  </div>

  <div class="form-item password-field clearfix">
    <%= f.label :password, :class => "main-label" %>
    <span class="long-field">
      <%= f.password_field :password %>
    </span>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="form-item checkbox-field clearfix" style="padding-left: 180px">
    <div>
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </div>
  </div>
  <% end %>

  <div id="submit">
    <%= f.submit "Sign in", :style => "margin-left: 190px" %>
  </div>
<% end %>
</div>

<%= render :partial => "devise/shared/links" %>