<% page_name = "Sign in" %>
<% title page_name %>
<% body_class "small-page" %>

<div class="page-form">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:autocomplete => :off}) do |f| %>


  <div class="small-form">
    <div>
      
      <p>
        <%= f.label :email %>
        <%= f.email_field :email, :class => "span4" %>
      </p>

      <p>
        <%= f.label :password %>
        <%= f.password_field :password, :class => "span4" %>
      </p>

      <% if devise_mapping.rememberable? -%>
      <p class="checkbox-field">
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      </p>
      <% end %>

      <p>
        <%= f.submit "Sign in", :class => "btn success" %>
      </p>
    </div>
<% end %>
</div>
