<% page_name = "Payments" %>
<% title page_name %>

<%= body_class "user-page" %>

<%= content_tag :h2, page_name %>


<% color = "red" if current_account.credit.credit == 0 account_signed_in? %>

<ul class="notices">
  <li>
    <%= link_to new_payment_path do %>
      <span class="itemcontent">
        You have <strong style="color: <%= color %>"><%= current_account.credit.credit if !current_account.credit.nil? %> Credits</strong> for getting premium notifications.
      </span>
      <span class="itemsetting">
        Buy More
      </span>
    <% end %>
  </li>
  <li>
    <%= link_to "#" do %>
      <span class="itemlabel">
        <strong>Credits Purchase History</strong>
      </span>
    <% end %>
  </li>
</ul>


<% content_for :left do %>
  <% render 'devise/shared/user_menu' %>
<% end %>
