<% field.levels.each_with_index do |level, i| %>
  <select id="tree_category_<%= field.field.id %>_<%= i %>"
          name="<%= field.form_machine_names[i] %>"
          class="span2 single-input">
    <option value="">Seçiniz</option>
    <% level.each do |category| %>
      <option value="<%= category.id %>"
              class="<%= category.parent.id unless i == 0 %>"
              <%= "selected" if category.id.to_s == params["#{field.form_machine_names[i]}"] %>>
        <%= category.name %>
      </option>
    <% end %>
  </select>
<% end %>

<% javascript 'jquery-plugins/jquery.chained' %>
<%= javascript_tag do %>
  <% (field.levels.count - 1).times do |i| %>
    $("#tree_category_<%= field.field.id %>_<%= i+1 %>").chained("#tree_category_<%= field.field.id %>_<%= i %>");
  <% end %>
<% end %>