<%= form_item_layout do %>
  <%= form_label_layout do %>
    <%= feature.form_builder.label feature.form_key, feature.label %>
  <% end %>
  <%= form_value_layout do %>
    <% javascript 'jquery-plugins/jquery.chained' %>
    <% tree = feature.tree %>
    <% name = (feature.form_builder.collection_select feature.place_ids_name, tree.first, :id, :name, {}).split("name=\"").last.split("\"").first + "[]" %>
    <% tree.each_with_index do |level, i| %>
      <p>
        <select id="place_<%= feature.conf.id %>_<%= i %>" name="<%= name %>">
          <option value="">
            <%= feature.form_level_names[i] %>
          </option>
          <% level.each do |place| %>
            <option value="<%= place.id %>" class="<%= place.parent_id unless i == 0 %>" <%= "selected" if feature.feature.value.include? place %>><%= place.name %></option>
          <% end %>
        </select>
      </p>
    <% end %>
    <%= feature.help_text %>
    <%= javascript_tag do %>
      <% (tree.count - 1).times do |i| %>
        $("#place_<%= feature.conf.id %>_<%= i+1 %>").chained("#place_<%= feature.conf.id %>_<%= i %>");
      <% end %>
    <% end %>
    <%= feature.form_builder.hidden_field :feature_configuration_id %>
  <% end %>
<% end %>