<table>
  <tr>
  <% tree = feature.tree %>
  <% tree.each_with_index do |level, i| %>
    <td>
      <%= label_tag i, "#{feature.form_level_names[i]}:" %>
      <select id="<%= i %>" name="<%= feature.form_machine_names[i] %>" class="span2">
        <option value=""></option>
        <% level.each do |place| %>
          <option value="<%= place.id %>" class="<%= place.parent_place.id unless i == 0 %>" <%= "selected" if place.id.to_s == params["#{feature.form_machine_names[i]}"] %>><%= place.name %></option>
        <% end %>
      </select>
    </td>
  <% end %>
  </tr>
</table>

<% javascript 'jquery-plugins/jquery.chained' %>
<%= javascript_tag do %>
  <% (tree.count - 1).times do |i| %>
    $("#<%= i+1 %>").chained("#<%= i %>");
  <% end %>
<% end %>