<%= javascript 'aceajax/ace.js' %>

<%= horizontal_form_for [@node_type, @mailer_template] do |f| %>

  <%= f.input :title %>

  <%= f.input :subject %>

  <%= f.input :template,
              as: :text,
              ace: { for: :template },
              wrapper: :ace  %>

  <div class="form-actions page-bottom-actions">
    <%= f.button :submit %>
  </div>
  
<% end %>