<% provide :title, "Mailer Templates" %>

<%= column_navbar title: @node_type.name do %>
  <%= node_type_navigation %>
<% end %>

<%= error_messages_for @fc if @fc %>

<table class="table table-striped sortable">
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  
  <tbody>
    <% @mailer_templates.each do |mailer_template| %>
      <tr>
        <td><%= link_to mailer_template.title, node_type_mailer_template_path(@node_type, mailer_template) %></td>
        <td>
          <%= link_to t('global.edit'), edit_node_type_mailer_template_path(@node_type, mailer_template) %>
          <%= link_to t('global.destroy'), node_type_mailer_template_path(@node_type, mailer_template),
                confirm: "Are you sure?",
                method: :delete %>
        </td>
      </tr>
    <% end %>

  </tbody>


  <%= form_for [@node_type, @node_type.mailer_templates.build],
        url: new_node_type_mailer_template_path,
        method: :get  do |f| %>
    <tr>
      <td><%= f.text_field :title, placeholder: "Title" %></td>
      <td><%= f.submit "New Template" %></td>
    </tr>
  <% end %>
</table>

