<% page_name = "External Sources" %>
<% title page_name %>
<%= body_class "admin-page" %>
<%= content_tag :h2, page_name %>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Service</th>
      <th>Feed Search Key</th>
      <th>URL</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @external_sources.each do |es| %>
      <tr>
        <td><%= es.id %></td>
        <td><%= es.google_alert_feed.service.title %></td>
        <td><%= es.google_alert_feed.search_key %></td>
        <td><%= link_to(truncate(es.url, length: 30), es.url) %></td>
        <td>
          <%= link_to "add", new_admin_external_source_path %>
          <%= link_to "destroy", [:admin, es], confirm: "Are you sure?", method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>

<%= content_for :left do %>
  <%= render "admin/shared/menu_links" %>
<% end %>