<% page_name = "New Notification" %>
<% title page_name %>
<%= body_class "admin-page" %>
<%= content_tag :h2, page_name %>

<iframe src="<%= @external_source.google_url %>" width="100%" height="400"></iframe>
<%= link_to "skip", new_admin_external_source_path, class: "btn" %>
<div>
  URL: <%= @external_source.url %>
</div>
<%= render "notifications/form" %>


<%= content_for :left do %>
  <%= render "admin/shared/menu_links" %>
<% end %>