<%= content_tag_for :li, category do %>
  <%= link_to category.name, categories_path(parent_category_id: category.id, event: "show"), remote: true %>
  <span class="controls">
    <%= link_to categories_path(parent_category_id: category.id, event: "add_child_categories"), remote: true do %>
      <%= content_tag :i, nil, class: " icon-indent-left" %>
    <% end %>
    <%= link_to category_path(category), remote: true, method: :delete, confirm: "Are you sure?" do %>
      <%= content_tag :i, nil, class: " icon-remove" %>
    <% end %>
  </span>
<% end %>