<%= form_for @parent_category do |f| %>
  <table>
    <% unless @parent_category.root? %>
      <%= form_item_layout do %>
        <%= form_label_layout do %>
          Parent category
        <% end %>
        <%= form_value_layout do %>
          <span class="input-xlarge uneditable-input"><%= @parent_category.name %></span>
        <% end %>
      <% end %>
    <% else %>
      <%= simple_text_field f, :name %>
    <% end %>

    <%= simple_text_area f, :childs %>

    <%= simple_submit f %>
  </table>

<% end %>