<%= form_item_layout do %>
  <%= form_label_layout do %>
    <%= field.f.label field.form_key, field.label %>
    <%= content_tag :span, "*", class: "required" if field.required? %>
  <% end %>
  
  <%= form_value_layout do %>
    <div>
      <%= link_to "#add-image", class: "btn btn-success btn-mini add-image" do %>
        <%= content_tag :i, nil, class: "icon-white icon-plus" %>
        <%=t 'fields.image.add_image' %>
      <% end %>
      <%= field.info %>
    </div>

    <ul class="inline-list images" data-update-url="<%= sort_node_type_node_images_path(@node_type._id, @node._id) %>">
      <% field.images.each do |image| %>
        <%= render "images/image", 
              mustache: image_for_mustache( image: image,
                                            node: @node,
                                            machine_name: field.machine_name) %>
      <% end %>
    </ul>

    <script type="text/javascript">
      $('.images').sortable({
        handle: '.handle-move',
        update: function() {
          return $.post($(this).data('update-url'), $(this).sortable('serialize') + "&machine_name=<%= field.machine_name %>&node_id=<%= @node.id %>");
        }
      });
    </script>

    <%= field.hint %>

    <script id="template" type="text/html">
      <%= render 'images/image' %>
    </script>

    <% javascript 'jquery.remotipart' %>
    <% javascript 'mustache' %>
  <% end %>
<% end %>

<% content_for :top do %>
  <div id="hidden-form" style="display: none">
    <%= render 'images/form', machine_name: field.machine_name %>
  </div>
<% end %>