<%= f.input :filter, as: :boolean %>

<%= f.input :maximum_select, as: :integer %>


<%= f.input :options do %>

  <% if f.object.new_record? %>

      <% 5.times { f.object.options.build } %>

      <%= f.association :options do |o| %>
        <%= o.input :name,
                    label: false,
                    placeholder: t('fields.select.option'),
                    wrapper: :embedded_fields %>
      <% end %>

  <% else %>

    <%= link_to_modal t('fields.select.edit_options') %>

    <% content_for :top do %>
      <%= modal t('fields.select.options') do %>
        <table  class="table">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th><%= t('fields.select.option') %></th>
              <th></th>
          </thead>
          <tbody class="sortable"
                 data-update-url="<%= sort_node_type_custom_fields_field_options_path(@node_type, f.object) %>">
            <% f.object.options.each do |option| %>
              <%= render 'custom_fields/fields/types/options/option', option: option, field: f.object %>
            <% end %>
          </tbody>
          <%= form_for f.object.options.build, url: node_type_custom_fields_field_options_path(@node_type, f.object), remote: true do |f| %>
            <tfoot>
              <tr>
                <td>&nbsp;</td>
                <td><%= f.text_field :name, placeholder: t('fields.select.option') %>
                </td>
                <td><%= f.submit class: "btn btn-small" %></td>
            </tfoot>
          <% end %>
        </table>
      <% end %>
    <% end %>

  <% end %>
<% end %>