<%= form_item_layout do %>
  <%= form_label_layout do %>
    <%= feature.form_builder.label  feature.form_key,
                                    feature.label %>
    <%= content_tag :span, "*", class: "required" if feature.required? %>
  <% end %>
  
  <%= form_value_layout do %>

    <% if feature.text_field? %>
      <%= feature.form_builder.text_field feature.form_key,
            maxlength: feature.max %>
    <% else %>
      <%= feature.form_builder.text_area feature.form_key,
            rows: feature.row,
            maxlength: feature.max,
            class: "input-xlarge" %>
    <% end %>

    <%= feature.help_text %>

    <% if feature.max %>
      <p class="right-align mini-font no-margin">
        <span class="chars-left pastelred">
          <%= feature.max %>
        </span> char left.
      </p>

      <%= javascript_tag do %>
        $('textarea').maxlength({
          'feedback' : '.chars-left'
        });
      <% end %>
    <% end %>

    <%= feature.form_builder.hidden_field :feature_configuration_id %>
  <% end %>
<% end %>
