<div class="block" id="administration-menu">
  <ul>
    <%= menu_list "Dashboard", "#" %>
    <%= menu_list "Accounts", admin_accounts_path %>
    <%= menu_list "Notifications", admin_notifications_path %>
    <%= menu_list "External Sources", admin_external_sources_path %>
    <%= menu_list "Payment Types", admin_payment_types_path %>
    <%= menu_list "Roles", admin_roles_path %>
  </ul>
</div>