<div class="block" id="administration-menu">
  <ul>
    <%= menu_item "Dashboard", "#" %>
    <%= menu_item "Accounts", admin_accounts_path %>
    <%= menu_item "Notifications", admin_notifications_path %>
    <%= menu_item "External Sources", admin_external_sources_path %>
    <%= menu_item "Payment Types", admin_payment_types_path %>
    <%= menu_item "Roles", admin_roles_path %>
  </ul>
</div>