<div class="page-form">
  <%= form_for [:admin, @payment_type] do |f| %>
    <% if @payment_type.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@payment_type.errors.count, "error") %> prohibited this payment_type from being saved:</h2>

        <ul>
        <% @payment_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-item title-field row">
      <%= f.label :name, :class => "span3" %>
      <span class="span8">
        <%= f.text_field :name, :class => "span8" %>
      </span>
    </div>

    <div class="form-item textarea-field row">
      <%= f.label :description, :class => "span3" %>
      <span class="span8">
        <%= f.text_area :description, :class => "span8", :rows => "5" %>
      </span>
    </div>

    <div class="form-item checkbox-field row">
      <%= f.label :active, :class => "span3" %>
      <span class="span8">
        <%= f.check_box :active %>
      </span>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>