<% page_name = "Listing Payment Types" %>
<%= title page_name %>
<%= content_tag :h2, page_name %>

<table class="condensed-table zebra-striped">
  <tr>
    <th>Name</th>
    <th>Active</th>
    <th>Actions</th>
  </tr>

<% @payment_types.each do |payment_type| %>
  <tr>
    <td><%= payment_type.name %></td>
    <td><%= payment_type.active %></td>
    <td>
      <%= link_to 'Show', [:admin, payment_type] %>
      <%= link_to 'Edit', edit_admin_payment_type_path(payment_type) %>
      <%= link_to 'Destroy', [:admin, payment_type], confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment type', new_admin_payment_type_path %>
