<%= link_to_modal "Add new country" %>

<ul>
<% Place.top_places.each do |place| %>
  <li>Name: <%= place.name %>
      <%= link_to_modal "Add new place" %>
    </li>
<% end %>
</ul>

<%= modal "New Place" do %>
  <%= render 'form' %>
<% end %>