<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_account.email.split("@")[0] %> <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to t('notices.my'), subscriptions_path %></li>
    <li><%= link_to t('account.edit_email'), settings_email_path %></li>
    <li><%= link_to t('account.edit_password'), settings_password_path %></li>
    <li><%= link_to t('account.edit_subscriptions'), edit_subscriptions_path %></li>
    <li class="divider"></li>
    <li><%= link_to t('account.signout'), destroy_account_session_path, :method => :delete %></li>
  </ul>
</li>