<header>
  <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">

          <%= content_tag :h3, link_to("ejans.com", root_path) %>
          <!-- /Site Name -->

          <!--<ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a href="#">Secondary link</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Another link</a></li>
              </ul>
            </li>
          </ul>-->
          <!-- Left Nav -->

          <%= form_tag services_path, method: :get do %>
              <%= text_field_tag :search, params[:search] %>
          <% end %>
          <!-- Search Form -->

          <ul class="nav secondary-nav">

            <% if account_signed_in? %>

              <li class="dropdown notice-dropdown"> 
                <% new_notices = current_account.notices.where(:new => true) %>
                <% if new_notices and new_notices.count > 0 %>
                    <span class="notice-tooltip"><%= new_notices.count %></span>

                    <a href="#" class="dropdown-toggle">Notices</a>
                <% else %>    
                    <a href="#" class="dropdown-toggle no-notice">No Notices</a>
                <% end %>

                <ul class="dropdown-menu">
                  <% notices = current_account.notices.where(:read => false) %>
                  <% if notices.present? %>

                    <% notices.each do |notice| %>
                      <li>
                        <%= link_to truncate(notice.notification.service.title, :length => 25), 
                                    [notice.notification.service, notice.notification] %>
                        <%= content_tag :span, "new", :class => "label success" if notice.new? %>
                      </li>
                    <% end %>

                  <% else %>

                    <li><%= link_to "Nothing unread notice.", "#" %><li>

                  <% end %>
                </ul>
              </li>

              <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle"><%= truncate current_account.email, :length => 14 %></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "All notifications", subscriptions_path %></li>
                  <li><%= link_to "Edit", edit_account_registration_path %></li>
                  <li><%= link_to "Subscription settings", edit_subscriptions_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Sign out", destroy_account_session_path, :method => :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><a href="#" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true">Sign in</a></li>
            <% end %>

          </ul>
          <!-- /Right Nav -->


        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  </div>
</header>
<!-- /header -->