<header>
  <div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "ejans.com", root_path, class: "brand" %>

      <%= render 'layouts/search_form' %>

      <ul class="nav pull-right">
        <% if account_signed_in? %>
          <%= render 'layouts/notices_menu' %>
          <li class="divider-vertical"></li>
          <%= render 'layouts/account_menu' %>
        <% else %>
          <li><a data-toggle="modal" href="#signin-modal"><%= t('account.signin_signup') %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</header>
<!-- /header -->