<li class="dropdown notice-dropdown"> 
  <% new_notices = current_account.notices.where(:new => true) %>
  <% if new_notices and new_notices.count > 0 %>
    <span class="notice-tooltip"><%= new_notices.count %></span>
    <a href="#" class="dropdown-toggle no-notice" data-toggle="dropdown"><%= t('notices.name') %></a>
  <% else %>    
    <a href="#" class="dropdown-toggle no-notice" data-toggle="dropdown"><%= t('notices.no_notice') %></a>
  <% end %>

  <ul class="dropdown-menu">
    <% notices = current_account.notices.unread %>
    <% if notices.present? %>
      <% notices.each do |notice| %>
        <li><%= link_to truncate(notice.notification.title, :length => 25), 
              [notice.subscriptions.first.service, notice.notification] %>
          <%= content_tag :span, "new", :class => "label success" if notice.new? %>
        </li>
      <% end %>
    <% else %>
      <li><%= link_to "Nothing unread notice.", "#" %><li>
    <% end %>
  </ul>
</li>