<!DOCTYPE html>
<html>

<head>
  <title><%= title(yield(:title))</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "jquery.tablesorter", "jquery.tablesorter.pager" %>
  <%= csrf_meta_tags %>
</head>
<!-- /HEAD -->

<body class="admin-page">
  <style>
    .container {
      width: 1020px;
    }
  </style>
  <!-- Container -->
  <div class="container">

    <%= render 'layouts/header' %>

    <div class="page">
      <div data-pjax-container>
        <div class="row">
          <% if content_for?(:left) %>
          <div class="span3">
            <aside id="left">
              <%= yield :left %>
            </aside>
          </div>
          <!-- /aside left -->
          <% end %>

          <div class="span10">
            <section id="content">
              <%= render 'layouts/messages' %>
                <%= yield %>
            </section>
          </div>
          <!-- /Content -->
      </div>
    </div>
    <!-- /Page -->

    <%= render 'layouts/footer' %>

  </div>
  <!-- /Container -->

  <%= render 'layouts/signin' %>
  <%= yield :bottom %>

</body>
</html>
