<%= render 'layouts/head' %>
<body class="<%= controller_class %> <%= yield(:body_class) %>">

  <div id="overlay">
    <%= yield :overlay %>
  </div>

  <div class="body">
    <!-- Container -->
    <div class="container page">

      <%= yield :top %>

      <%= render 'layouts/header' %>

      <div class="row">
        <% if content_for?(:left_column) %>
          <aside id="left-column" class="span3">
            <div class="column-inner">
              <%= yield :left_column %>
            </div>
          </aside>
          <!-- /aside left -->
        <% end %>

        <section id="content-column" class="<%= content_for?(:left_column) ? 'span9' : (yield(:body_class).include?('small-page') ? 'span8' : 'span12') %>">
          <div class="column-inner">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </section>
        <!-- /Content -->
      </div>

      <%= render 'layouts/footer' %>

    </div>
    <!-- /Container -->
  </div>

  <%= yield :bottom %>
  <%= render 'shared/analytics' if Rails.env.production? %>
</body>
</html>
