<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:title) || "The Place to Buy Stuff" %> - Ejans.com</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<!-- /HEAD -->

<%
contentspan = content_for?(:left) ? 'span9' : 'span12'
allspan = content_for?(:left) ? '13' : '12'

%>

<body class="<%= content_for?(:right) or content_for?(:left) ? 'twoColumn' : 'oneColumn' %> <%= yield(:body_class) %>">

  <!-- Container -->
  <div class="container">

    <%= render 'layouts/header' %>

    <div id="page">
      <div data-pjax-container>
        
        <div class="row">
          <% if breadcrumbs.items.size > 1 %>
          <div id="breadcrumb">
            <%= breadcrumbs.render %>
          </div>
          <!-- /Breadcrumb -->
          <% end %>
          


          <% if content_for?(:left) %>
          <div class="span4">
            <aside id="left">
              <%= yield :left %>
            </aside>
          </div>
          <!-- /aside left -->
          <% end %>

          <div class="<%= contentspan %>">
            <section id="content">
              <%= render 'layouts/messages' %>
                <%= yield %>
            </section>
          </div>
          <!-- /Content -->
          

          <% if content_for?(:right) %>
          <div class="span4">
            <aside id="right">
              <%= yield :right %>
            </aside>
          </div>
          <!-- /aside right -->
          <% end %>
        </div>



      </div>
    </div>
    <!-- /Page -->

    <%= render 'layouts/footer' %>

  </div>
  <!-- /Container -->

  <%= render 'layouts/signin' %>
  <%= yield :bottom %>

  <%#= debug(request) if Rails.env.development? %>
  <%#= debug(session) if Rails.env.development? %>
  <%#= debug(params) if Rails.env.development? %>

</body>
</html>
