<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:title) || "The Place to Buy Stuff" %> - Synchronize.me</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<!-- /HEAD -->

<body class="<%= content_for?(:right) ? 'twoColumn' : 'oneColumn' %> <%= yield(:body_class) %>">

  <!-- Container -->
  <div class="container">

    <%= render 'layouts/header' %>

    <div id="page">
      <div class="row">
        
        <div id="breadcrumb">
          <%= breadcrumbs.render %>
        </div>
        <!-- /Breadcrumb -->


        <% if content_for?(:left) %>
        <div class="span4">
          <aside>
            <%= yield :left %>
          </aside>
        </div>
        <!-- /aside left -->
        <% end %>

        <div class="span12">
          <section id="content">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </section>
        </div>
        <!-- /Content -->
        

        <% if content_for?(:right) %>
        <div class="span4">
          <aside>
            <%= yield :right %>
          </aside>
        </div>
        <!-- /aside right -->
        <% end %>



      </div>
    </div>
    <!-- /Page -->

    <%= render 'layouts/footer' %>

  </div>
  <!-- /Container -->

  <%= render 'layouts/signin' %>
  <%= yield :bottom %>
</body>
</html>
