<!DOCTYPE html>
<html class="no-js">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>
  <%= yield(:meta_tag) %>
  <%= csrf_meta_tags %>
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<!-- /HEAD -->


<body class="node-page <%= yield(:body_class) %>">

  <div id="overlay">
    <%= yield :overlay %>
  </div>

  <!-- Container -->
  <%= render 'layouts/header' %>

  <div class="container">

    <%= yield :top %>


    <div class="page">
      <div class="row">    
        <div class="span8">
          <section id="content">
            <%= render 'layouts/messages' %>
              <%= yield %>
          </section>
        </div>
        <!-- /Content -->
      </div>
    </div>
    <!-- /Page -->

    <%= render 'layouts/footer' %>

  </div>
  <!-- /Container -->

  <%= yield :bottom %>
  <%= render 'shared/analytics' if Rails.env.production? %>
  <%= render 'shared/uservoice' if Rails.env.production? %>
</body>
</html>
