<%= render 'layouts/head' %>

<body class="small-page <%= yield(:body_class) %>">

  <div id="overlay">
    <%= yield :overlay %>
  </div>

  <!-- Container -->
  <%= render 'layouts/header' %>

    <div class="body">
    <div class="container">

      <%= yield :top %>


      <div class="page">
        <div class="row">    
          <div class="span-width">
            <section id="content">
              <%= render 'layouts/messages' %>
                <%= yield %>
            </section>
          </div>
          <!-- /Content -->
        </div>
      </div>
      <!-- /Page -->

      <%= render 'layouts/footer' %>

    </div>
    <!-- /Container -->
  </div>

  <%= yield :bottom %>
  <%= render 'shared/analytics' if Rails.env.production? %>
  <%= render 'shared/uservoice' if Rails.env.production? %>
</body>
</html>
